$primary: #B41C04;
$primary-hover: #DE3B66;

.arkon-job-offers{

    article{
        background-color: #F8F8F8;
        .arkon-job-offers-button{
            background-color: $primary;
            box-shadow: none;
        }
    }

    &-modal {
    
        .button-color{
            background-color: $primary;
        }

        &__forms{
            .CV-698{
                input{
                    display: none;
                }
            }
        }

        &__title {
            color: $primary;
        }

        &__close {
            background-color: $primary;
                &::before{
                    content: "\2715";
                }
        }

        &__btn {
            &-primary {
                background-color: $primary;
                color: #fff;
            }
        }

        &__content{
            ul{
                list-style-position:inside;
            }
        }
    }

    &-button{
        background-color: #BE204B;
        color: white;

        
        
        &:hover{
            background-color: $primary-hover;
        }
    }

    &-contact{
            .button-end{
  
                div.uploads-cv{
                    background-color:  #bfb9b8 ;
                    color: black; 
                    text-transform: uppercase;
                    font-weight: 600;
                    
                    &:hover{
                        background-color:  #e6dedc ;
                    }
                }
            
                button, input[type="submit"].wpcf7-submit{
                    background-color: $primary ;  
                }

            }
            

    }

}

