.about-section-two {
    .container {
        max-width: 1240px;
    }
    .about-two .about-year .about-year-info {
        background-color: $secondary;
        border-bottom: 5px solid $primary;
    
        & span {
            color: $third;
        }
    }
}


