.help-blocks {
    .site-bg-primary  {
        background-color: $primary;
    }
    .site-bg-gray {
        background-color: $secondary;
    } 
    .site-bg-black {
         background-color: $third;
    }
    .wt-icon-box-sm {
        color: $white;
    }
    .icon-content {
         p { 
             color: $black;
         }
        .wt-tilte {
            color: $white;
        }
    }
    .help-block-content {
        padding: 40px 30px 60px 20px;
        &.white {
            color: $black;
        }
    }
} 

.help-blocks-about-us{
    .help-blocks{
        margin: 30px 0;
    }
    .home-client-outer{
        .section-head{
            margin: 0;
        }
    }
}

.wt-info blockquote{
    font-size: 1.2em;
    @media (max-width: 768px){
        padding: 60px 100px !important;
    }
    @media (max-width: 420px){
        padding: 60px !important;
        font-size: 1.1em;
    }
}

.rewards-cert .section-full{
    padding-bottom: 0;
}


