.elementor-widget-home-1-blog {
    .project-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .project-image-title {
            margin-top: 12px;
    
            &--title {
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                color: #fff;
            }
        }
    }   
}