.contact-block{
    .contact-one{
        .row{
            @media (max-width:991px){
                flex-direction: column-reverse;
                .contact-image{
                    margin: 10px 0;
                }
            }
        }
        .c-info-column a{
            color: $white;
        }
        .c-info-column a:hover{
            color: $hoverRed;
        }
    }
}
