.elementor-element-119e161 {
    .section-head { 
        &.left, &.center, &.right {
            &.wt-small-separator-outer {		
                .wt-small-separator { 
                     
                    color: $secondary;
    
                    div.sep-leaf-left {
                        &:before, &::after {
                            background-color: $secondary;
                        }
                    }
                }
            }
        }
    } 
}  
.c-section-one {
    .icon-content-info  {
        font-weight: 700;
        text-transform: none;
    }
    .site-text-primary {
        color: $third;
    }
}


     
