
.footer-dark {	
	background-color:$third;

    .widget-title {
        &:before{
            background-color: $secondary;
        }
    } 
    .widget_services {
        ul li a:before,
        ul li a:hover {
            color: $secondary;
        }
    } 
    .container p {
        text-align: unset;
    }

    .footer-bottom {
        background-color: $backpackBlue;

        .site-text-primary {
            color: $secondary;
        }

        .copyrights-text {
            & a {
                color: $secondary; ;
            }
            & a:hover {
                color: #fff;
            }
        }
      
    }
    .footer_blocks{
        .icon-content{
            a{
                color: #fff;
            }
            a:before,
            a:hover {
                color: $secondary;
            }

        }
    }
}
.footer_blocks {
    border: none;
}