//styles used in all sections in home page at once

.section-head { 
    &.left, &.center, &.right {
        &.wt-small-separator-outer {		
            .wt-small-separator { 
                 
                color: $primary;

                div.sep-leaf-left {
                    &:before, &::after {
                        background-color: $primary;
                    }
                }
            }
        }
    }
}

.owl-carousel{
	.owl-item{
		height: 230px;
	}
}

.home-client-outer{
    .owl-item{
		height: auto;
	}
}

.work-owl-item{
    .owl-item{
		height: unset;
        .service-icon-box-content a{
            display: none;
        }
	}
}

.project-content{
    .project-description{
        display: none;
    }
}

.service-icon-box-two{
    height: 100%;
    .service-icon-box-title{
        .wt-title{
            height: 75px;
        }
    } 
}

.elementor-pagination-position-outside{
    .elementor-swiper-button{
        top: calc(50% - 50px/ 2) !important;
    }
} 

.future-section-outer{
    .future-section-left{
        background-position: center center;
    }
}

.elementor-widget-home-2-slider .tp-caption .site-button-secondry:hover{
    color: $primary;
}