.header-style-1  {

    .top-bar {
        display: none;
    }
    
    .container {

        .logo-header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            width: 280px;
            max-width: 100%;

            .logo-header-inner{
                display:flex;
                align-items: center;
            }
        }

        .ap-btn-outer { 
            display: none;
        }

        .extra-nav .extra-cell:first-child {
            display: none;
        }

        #mobile-side-drawer {
            background-color: transparent;
            box-shadow: none;
        }

        @media (min-width: 1200px){
            max-width: 1450px;
        }

    }
}
.header-style-2 .top-bar {
    display: none;
}

header{
    .header-nav{
        @media(max-width:991px){
            position: absolute;
        }
        @media(max-width:768px){
            top:0;
        }
        .nav{
            .menu-item.active{
                background: $primary;
                a{
                    color: $white !important;
                    font-weight: 700  !important;
                }
                @media(max-width:991px){
                    border-right: 6px solid $black ;
                }
                @media(max-width:1200px){
                    padding: 21px 0;
                }
            }
        }
        .nav > li{
            padding: 0 !important;
        }
    }
}