.page-id-1483 {
    
    .our-services{
        .section-full{
            padding-bottom: 80px;
            padding-top: 80px;
        }
        @media (min-width:1440px){
            .container{
                max-width: 75%;
            }
        }  
    } 
    
    .service-icon-box-two{
        padding: 40px 20px;
        .service-icon-box-title{
            .wt-title{
                line-height: 25px;
            }
        }
    } 


    .rel-slider-offer{
        .section-full{
            padding-bottom: 10px;
            padding-top: 50px;
        }
    } 

    .contact-offer{
        .section-full{
            padding-bottom: 80px;
            padding-top: 80px;
        }
    }

    .contact-offer .bg-cover{
        background-position: center;
    }
}
