.elementor-widget-home-1-blog {
    .site-bg-black {

        background-color: $primary;
        // background-image:url(https://shtheme.org/demosd/indusza/wp-content/uploads/2021/04/bg-dott3.png); //do innej sekcji

    }
}