.privacy-policy{
    ol {
        font-size: 13px;
        line-height: 1.6em;
        padding-left: 13px;;
        li{
            margin-bottom: 0.5em;
            line-height: 2.1em;
        }
    }
    h2{
        margin-top: 0.5em;
    }
}