.elementor-widget-home-2-project,.single-project {

    .section-head.center.wt-small-separator-outer h2 {
        max-width: 1170px;
    }
    .project-box-style1 {
        .project-content {

            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: center;
            justify-content: space-around;
            opacity: 0;
            padding: 40px;

            .project-description {

                color: white;
                padding: 10px;
            
                & p {
                    text-align: justify;
                    line-height: 1.13rem;
                    font-family: 'Roboto';
                    font-weight: 300;
                }
            } 
           
            .project-title-large {

                color: white;
                line-height: 1.33;
                font-family: Poppins;
                font-size: 18px;
                font-weight: bold;
            }
        }
        &:hover {
            
            .project-content {

                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition: transform 0.6s cubic-bezier(0.57, 0.04, 0.06, 0.84) 0.1s, opacity 0.2s 0.1s;
                
            }
        }
    }
}
.page-id-103{
    .project-outer2{

        .project-category{
            display: none;
        }

        .project-content{
            .wt-title{
                font-size: 15px;
                margin: 0;
            }
            @media (min-width: 768px){
                height: 150px;
                display: flex;
                justify-content: center;
            }
        }

        .project-media{
            img{
                height: 235px;
            }
        }
    }
}

