.future-right-inner {
    .our-future {
        display: flex;

        @media (max-width: 1320px) {
            flex-direction: column;
        }
        
        &--button {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @media (max-width: 1320px) {

                display: block;
                margin-top: 20px;
  
            }
            
            .site-button {
                @media (max-width: 1684px) and (min-width: 1446px) {
                    padding: 15px 40px;
                }
                @media (max-width: 1447px) and (min-width: 1319px) {
                        padding: 12px 30px;
                }
                @media (max-width: 396px) {
                    padding: 10px 20px;
                }
                
            }
        }
    }
    .progressText {
        max-width: 65%;
        margin-right: 30px;
        text-align: justify;

        @media (max-width: 1320px) {
            max-width: 100%;
        }
        @media (max-width: 462px) {
            margin-right: 0;
        }
        
        b {
            font-weight: 400;
            font-family: Roboto;
            font-size: 16px;
    
            a {
                color: $third;
                text-decoration: underline;
            }
        }
    }
    .progress {
        display: none !important;
    }
}

.work-future{
    .our-future {
        display: block;
    }
    .progress {
        display: flex !important;
    }
}