/*
Theme Name: Indusza Child Theme
Theme URI: http://shtheme.com/demosd/indusza
Description: This is child theme of indusza
Author: Shtheme
Author URI: https://themeforest.net/user/shtheme
Version: 1.0
Text Domain:  indusza-child
Template: indusza
*/

/* ========TABLE OF CONTENTS==========
00. Body, links, hgroup, paragraphs, general styles
01. Fixed header & Navigation
02. Section Intro (Home)
03. Section About
04. Section Resume
05. Section Portfolio
06. Section Blog
07. Section Contact
08. Footer
09. Loader
10. Responsive design

/*--------------------------------------------------
    00. Body, links, hgroup, paragraphs, general styles
---------------------------------------------------*/

@import "assets/css/theme.css";

body {
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Heebo", sans-serif;
}

a:hover {
    color: #ea130e;
}

.comments-area .comment-form p input[type="email"] {
    width: 100%;
    height: 60px;
    padding: 20px;
    border: none;
    background-color: #f9f9f9;
}

.comment-form-cookies-consent {
    display: none;
}

blockquote.site-bg-gray-light p {
    padding-left: 0px;
       font-size: 14px;
}

.comments-area .comment-respond {
    margin-top: 30px;
}

.comment-respond h3.comment-reply-title {
    margin-left: -11px;
    font-family: "Heebo", sans-serif;
}

.comments-area .comment-form p.logged-in-as {
    margin-bottom: 25px;
    margin-top: -5px;
}

.side-bar .widget_categories, .side-bar .widget_tag_cloud {
    padding: 35px 25px 35px 25px;
    border: 2px solid #e7e7e7;
    overflow: hidden;
    margin-bottom: 40px;
}

.widget_categories ul, .widget_tag_cloud ul {
    list-style: none;
    margin-bottom: 0px;
}

.widget_categories ul li {
    position: relative;
    padding: 10px 0px;
    line-height: 20px;
    font-size: 14px;
}

.widget_categories ul li a {
    color: #000;
    margin-left: 0px;
    padding: 0px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}

.widget_categories ul li a:hover {
    color: #ea130e;
}

.widget_categories h3, .widget_tag_cloud h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.side-bar .widget_tag_cloud a {
    font-size: 14px!important;
    font-family: "Heebo", sans-serif;
}

.side-bar .widget_tag_cloud ul li {
    display: inline-block;
}

.side-bar .recent-posts-entry .wt-post-info .post-title,
.side-bar .recent-posts-entry .wt-post-info .post-date {
    font-family: "Heebo", sans-serif;
}

.recent-posts-entry h3.widget-title {
    font-size: 20px;
}

.wt-post-meta ul li {
    display: inline-block;
}

.wt-post-info .wt-post-meta i {
    margin-right: 5px;
}

.wt-post-info .wt-post-meta .post-author {
    padding-right: 15px;
    display: inline-block;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
}

.wt-post-info .wt-post-meta .post-author:after {
    position: absolute;
    content: '|';
    right: 0px;
    top: 0px;
}

.wt-post-info .wt-post-meta .post-comment {
    padding-left: 5px;
}

.pagination-outer .pagination-style1 ul li span {
    position: relative;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    transition: 0.5s all ease;
    background-color: #ea130e;
}

.widget {
    margin-bottom: 30px;
}

.widget_categories ul li {
    display: inherit;
    padding: 12px 0;
    border-bottom: 1px dashed #ccc;
}

.widget_categories ul li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.recent-posts-entry .widget-post-bx .widget-post {
    border-bottom: 1px solid #dbdde1;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.recent-posts-entry .widget-post-bx .widget-post:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0px;
}

.wt-post-readmore .site-button-link,
.service-icon-box-content .site-button-link {
    outline: none;
    color: #fff;
    padding: 12px 25px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-table;
    background-color: #ea130e;
    border: 2px solid #ea130e;
    font-size: 15px;
    margin-top: 5px;
    font-weight: 600;
    transition: 0.5s all ease;
}

.wt-post-readmore .site-button-link:hover,
.service-icon-box-content .site-button-link:hover {
    color: #ea130e;
    background-color: #fff;
}

.wt-post-readmore .site-button-link:after,
.p-table-btn .site-button-link:after,
.service-icon-box-content .site-button-link:after {
    background-color: #fff;
}

.blog-post-4-outer .wt-post-info .wt-post-meta {
    margin-bottom: 15px;
}

.blog-post-4-outer .wt-post-info .wt-post-title .post-title {
    line-height: 28px;
    margin-bottom: 15px;
    font-size: 24px;
}


.wt-post-meta .post-author a:hover {
    color: #ea130e;
}

.wt-post-info .wt-post-meta li, .wt-post-info .wt-post-meta .post-author {
    font-size: 15px;
    font-weight: 600;
}

.blog-post-style-2.blog-post-single .wt-post-info .wt-post-meta li, .blog-post-style-2.blog-post-single .wt-post-info .wt-post-meta .post-author {
    font-size: 15px;
    font-weight: 600;
    padding-right: 15px;
}

.blog-post-style-2.blog-post-single .wt-post-meta {
    margin-bottom: 15px;
}

h4.post-title:hover {
    color: #ea130e;
}

a.site-button.sb-bdr-dark:after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0px;
    top: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    background-color: #ea130e;
    transition: 0.5s all ease;
}

.project-single-sibar-info .info-list-1 p {
    margin-bottom: 0px;
}

.project-single-side-btn .wt-icon-box-wraper br {
    display: none;
}

.service-side-btn .wt-icon-box-wraper br {
    display: none;
}

.header-style-1 .header-nav .nav > li {
    font-family: "Heebo", sans-serif;
}

.widget_newsletter .newsletter-bx .site-button {
    top: 5px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.newsletter-bx br {
    display: none;
}

.logged-in .header-style-1 .is-fixed .main-bar,
.logged-in .header-style-2 .is-fixed .main-bar {
    top: 32px;
}

@media (max-width: 768px) {
.logged-in .header-style-1 .is-fixed .main-bar,
.logged-in .header-style-2 .is-fixed .main-bar {
    top: 45px;
}
}

.footer-light .widget-title {
    font-family: "Heebo", sans-serif;
}

.search-custom h4 {
    line-height: 28px;
}

.search-custom form#searchform-all input[type="search"] {
    height: 42px;
    border-radius: 0px;
    border: 1px solid #ccc;
    color: #111;
}

.search-custom form#searchform-all {
    width: 70% !important;
    padding-top: 10px;
}

.search-custom button[type="submit"] {
    padding: 13px 15px;
    background: #f2343c;
    color: #fff;
    margin-top: 9px;
    cursor: pointer;  
}

.search-custom form#searchform-all span.input-group-btn button {
    background-color: #ea130e;
    color: #fff;
    border-radius: 0px;
    height: 42px;
    padding: 0px 15px;
    margin-top: 0px;
}

.pricing-block-outer2 .p-table-btn a {
    outline: none;
    color: #fff;
    padding: 12px 25px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-table;
    background-color: #ea130e;
    border: 2px solid #ea130e;
    font-size: 15px;
    margin-top: 5px;
    font-weight: 600;
    transition: 0.5s all ease;
}

.pricing-block-outer2 .p-table-btn a:hover {
    color: #ea130e;
    background-color: #fff;
}

.logged-in .full-menu.bg-cover {
    top: 32px;
}

@media (max-width: 600px) {
    .logged-in .header-style-1 .is-fixed .main-bar, .logged-in .header-style-2 .is-fixed .main-bar {
    top: 0px;
}
}

.logged-in header #search.open {
    top: 32px;
}

@media (max-width: 991px) {
    .logged-in .header-style-2.mobile-sider-drawer-menu .header-nav {
        top: 32px;
    }

}

@media (max-width: 768px) {
    .logged-in .header-style-2.mobile-sider-drawer-menu .header-nav,
    .logged-in .header-style-1.mobile-sider-drawer-menu .header-nav {
        top: 45px;
    }

    .logged-in .header-style-2.mobile-sider-drawer-menu .is-fixed .header-nav,
    .logged-in .header-style-1.mobile-sider-drawer-menu .is-fixed .header-nav {
        top: 0px;
    }
}

.widget-post .wt-post-info .wt-post-header {
    padding-top: 5px;
}

.widget-post .wt-post-info .wt-post-header .post-title {
    padding-top: 5px;
}

ol.comment-list li.comment .comment-author {
    display: block;
    margin-bottom: 5px;
}

ol.comment-list li.comment .comment-author .fn {
    font-size: 20px;
}

ol.comment-list li.comment .comment-meta {
    display: block;
    margin-bottom: 8px;
}

ol.comment-list li.comment .comment-meta a {
    color: #1e1e1e;
}

ol.comment-list li.comment .reply .comment-reply-link {
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 5px 14px;
    line-height: 26px;
}

aside.side-bar h4, aside.side-bar h3 {
    font-size: 18px;
}

.comment-respond h3.comment-reply-title {
    text-transform: capitalize;
}

.blog-post-style-2.blog-post-single .wt-post-discription p {
    letter-spacing: 0.5px;
}

.comment-respond .form-submit .site-button {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.page-notfound:after {
    display: none;
}

@media (max-width: 991px) {
    .top-bar {
        display: none;
    }
}

@media (max-width: 540px) {
    .header-style-2 .is-fixed .navbar-toggler {
        margin-bottom: 15px;
    }
}

@media (max-width: 991px) {
    .header-style-2 .navbar-toggler {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.service-slider-one {
    margin: 0px 0px 30px -20px;
}

.service-side-btn h4.wt-title {
    color: #fff;
}

.project-single-sibar-info {
    background-color: #fff;
    border: 2px solid #e7e7e7;
}

/* Hot Fix */

.half-section-top2 {
    padding-bottom: 700px;
}

.half-section-bottom2 {
    margin-top: -700px;
}

.blog-post-style-2.blog-post-single blockquote {
    padding: 30px;
    background: #152136;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-left: 5px solid #ea130e;
}

.blog-post-style-2.blog-post-single blockquote {
    font-size: 17px;
    margin-bottom: 20px;
    color: #222!important;
    font-weight: 600!important;
    line-height: 1.4;
    color: white!important;
}

.blog-post-style-2.blog-post-single blockquote p {
    font-size: 17px;
    line-height: 26px;
    padding-left: 0px;
}

.blog-post-style-2.blog-post-single blockquote .fa-quote-left {
    display: none;
}

div#comment-list h3.comments-title {
    margin-top: 30px;
}

.details__content-img img {
    margin-top: 10px;
    margin-bottom: 30px
}

.contact-one .contact-form-outer {
    padding: 50px 100px 50px 50px;
    border: 2px solid #e7e7e7;
    background: #fff;
}

.contact-one .contact-form-outer .cons-contact-form div.wt-small-separator-outer > p:last-child,
.contact-one .contact-form-outer .cons-contact-form div.row p {
    display: none;
}
body p{
    line-height: 28px;
}
.team-box-single .team-detail {
    padding: 40px;
}
.team-box-single .team-detail .team-detail-social ul li a{
    border: 1px solid #ea130e;
}
.team-box-single .team-detail .team-detail-list li{
    padding-bottom: 17px;
    margin-bottom: 17px;
}
.widget_services ul li{
    padding: 4px 0px;
}
.c-section-two .counter-block-half{
    padding-left: 60px;
    padding-top: 28px;
}
.section-full .project-single p{
    line-height: 28px;
    letter-spacing: 0.4px;
}
.arrow-list-1 li{
    padding: 4px 0px;
}
.project-single-sibar-info {
    padding: 30px;
}

footer .widget_services ul li a, footer .widget_about p,
footer .widget_newsletter p {
    color: #fff;
}

@media (max-width: 768px) {
    .footer_blocks .block-content .wt-icon-box-sm {
        display: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.wt-separator-two-part-row .wt-separator-two-part-right p {
    font-size: 18px;
}

.project-single-sibar-info .info-list-1 li .title {
    margin-top: 6px;
}

@media (max-width: 991px) {
    .header-style-1 .header-nav .nav > li:hover > .sub-menu,
    .header-style-1 .header-nav .nav > li .sub-menu li > .sub-menu {
        transition: inherit;
    }
}

blockquote strong {
    font-weight: 600;
    font-size: 16px;
}

.comments-area .comment-form p input[type="email"] {
    box-shadow: none;
}
.blog-post-4-outer .wt-post-info .wt-post-title .post-title{
    font-size: 26px;
}
.blog-post.blog-post-4-outer p{
    font-size:16px;
    letter-spacing: 0.4px;
}
.blog-post-style-2.blog-post-single .wt-post-discription p {
    font-size:16px;
    letter-spacing: 0.4px;
}
ol.comment-list li.comment p{
    font-size:16px;
    letter-spacing: 0.4px;
}

.widget_services ul li a:hover {
    margin: 0px;
    color: #ea130e;
}

footer.footer-light .widget_about p,
footer.footer-light .widget_newsletter p {
    color: #000;
}

@media (max-width: 500px) {
    .comment-respond h3.comment-reply-title {
        margin-left: 0px;
    }

    .side-bar .widget:last-child {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .widget_newsletter .newsletter-bx .site-button {
        right: 55px;
        position: relative;
    }
}