h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins" !important; 
    font-weight: 700 !important;
    line-height: 4rem;

    @media (max-width: 462px) {
        line-height: 2.5rem;
    }
}
h4 {
    font-size: 18px;
    line-height: 2rem;
}

.about-two{
    .corner-image{
        padding: 0px;
        margin-right: 40px;
        text-align: center;
        position: absolute;
        max-width: 240px;
        right: -40px;
        bottom: 0px;
        z-index: 1;
    }
}

.project-single{
    .wt-info{
        margin: 0 auto;
        .wt-title{
            text-align: center;
        }
        .col-lg-8{
            margin: 0 auto;
        }
    }
}
.rewards{
    text-align: center;
}

.rewards-cert{
    .corner-image{
        right: -55px;
    }
}

.section-head.center.wt-small-separator-outer h2 {
    max-width: 1170px;
}

.project-outer2 {
    .project-style-2{
        .wt-info{
            display: none;
        }
    } 
}

.footer_blocks{
    padding-top: 10px;
}
