.header-style-1{
    position: relative; 
    .top-bar{
        @include breakpoint-767{
            .container{
                max-width: 100%;
            }
        }
        /*---Top bar---*/
        border-bottom: 1px solid #dcdcdc;
        .wt-topbar-left-info{ margin: 0px;
            li{
                display: inline-block;
                color: $clr-black;
                padding: 0px 15px;
                border-right: 1px solid #dcdcdc;
                line-height: 40px;
                @include breakpoint-991{
                    padding: 0px 10px;
                    font-size: 14px;
                }
                @include breakpoint-540{
                    padding: 0;
                    width: 100%;
                    border: 0px;
                }
                &:first-child{
                    padding-left: 0px;
                }
                &:last-child{
                    border-right: 0px;
                }
                i{
                    color: $clr-primary;
                    padding-right: 15px;
                    font-size: 18px;
                }
                span{
                    font-weight: 600;
                }
            }
        }
        .wt-topbar-right-info{
            margin: 0px;
            @include breakpoint-767{
                display: none;
            }
            ul{ margin-bottom: 0px;
                display: flex;
                border-right: 1px solid #dcdcdc;
                list-style: none;
                li{ 
                    a{
                        list-style: none;
                        display: block;
                        position: relative;
                        width: 40px;
                        height: 42px;
                        line-height: 42px;
                        border-left: 1px solid #dcdcdc;
                        text-align: center;
                        &:hover{
                            background-color: $clr-primary;
                            color: $clr-white;
                        }
                    }
                }
            }
        }
    }

    .extra-nav {
        /*---Extra Nav---*/
        display: table;
        float: right;
        height: 70px;
        position: relative;
        z-index: 13;
        .extra-cell {
            display: table-cell;
            vertical-align: middle;
            &.one{
                border-left: 1px solid #dcdcdc;
            }
            &:first-child{padding-left: 0px;}
            .header-search{
                .header-search-icon{
                    padding: 34px 20px;
                    &:hover{ 
                        i{
                            color: $clr-primary;
                        }
                    }
                }
            }
        }
    }

    .logo-header {
        /*--logo for header---*/
        display: table;
        float: left;
        width: 215px;
        height: 70px;
        vertical-align: middle;
        padding: 0px;
        font-size: 36px;
        color:$clr-black;
        margin: 0px;
        position: relative;
        z-index: 11;
        @include breakpoint-1200{
            width: 150px;  
        }
        @include breakpoint-360{
            width: 120px;  
        }
        .logo-header-inner {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    &.site-header {
        position: relative;
        z-index: 999;
        ul,ol {margin-bottom: 0px;}
    }  

    .main-bar {
    /*--main-bar--*/
        position: relative;
        width: 100%;
        transition: all 0.5s ease;
        background: $clr-white;
        .container,
        .container-fluid{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include breakpoint_991{
                display: block;
            } 
        }
        &:after,
        &:after {
            clear: both;
            content: "";
            display: table;
        }
    }
    
    .navbar-toggler {
    /*--Navbar Toggler---*/
        border: none;
        margin:24px 0px 24px 5px;
        padding: 12px 0px 12px 10px;
        @include breakpoint_991 {
            display: block;
            margin-top: 14px;
            margin-bottom: 14px;
            float: right;
            outline: none !important;
        }
        @include breakpoint-540{
            margin:24px 0px 24px 5px;
        }
        .icon-bar {
            background:$clr-black;
            height: 3px;
            border-radius: 0px;
            display: block;
            width: 22px;
        }
        .icon-bar {
            + {
                .icon-bar {
                    margin-top: 4px;
                }
            }
        }   
        @include breakpoint-991{        
            margin-top: 14px; 
            margin-bottom: 14px;      
        }
        @include breakpoint-420{        
            margin-left: 10px;        
        }
    }

    /*--is fixed---*/
    .is-fixed{
        .navbar-toggler{
            @include breakpoint_540{margin-bottom: 0px;}
        }

        &.mobile-sider-drawer-menu{ 
            .header-nav {
                .nav {
                    height: 100vh !important;
                    width: 100%;
                    >li {
                        >a {
                            padding: 12px 15px !important;
                        }
                    }
                }
            }

        }
      
    }    

    .header-nav {
        position: relative;
        padding: 0px;
        z-index: 10;
            @include breakpoint-991{
                clear: both;
                margin: 0px -15px;
                border-bottom: 1px solid #E9E9E9;
                &.navbar-collapse{
                    align-items: start;
                }
            }    
            .nav {
                display: flex;
                justify-content: flex-end; 
                flex-direction: inherit;
                @include breakpoint-991{
                    float: none;
                    margin: 0px;
                    background:$clr-white;
                    display: block;
                    width: 100%;
                    left: 0px;
                }
                li {
                    @include breakpoint-991{
                        float: none;
                    }
                    &.has-child.nav-active{
                        >a {
                            @include breakpoint-991{
                                color: $clr-primary;
                              }
                        }

                    }                   
                    i {
                        font-size: 9px;
                        margin-left: 3px;
                        margin-top: -3px;
                        vertical-align: middle;
                        opacity: 0.7;
                        @include breakpoint-991{
                            float: right;                       
                        }
                    } 
                    
                }
                    
            }

            .nav>li {
                position: relative;
                margin: -10px 0px;
                padding: 10px 0px;
                font-family: $heading-font;    
                ul{
                    @include breakpoint-991{
                    display: none;
                    position: static;
                    visibility: visible;
                    width: auto;
                    background: #f9f9f9;
                    }
                } 

                &>a {
                    color: $clr-black;
                    font-size: 16px;
                    padding: 33px 15px;
                    cursor: pointer;
                    margin: -10px 0px;
                    font-weight: 600;
                    display: block;
                    @include breakpoint-1200{
                        padding: 12px 10px;
                    }
                    &:hover{
                        background-color: transparent;
                        color:$clr-black;
                    }
                    &:active,
                    &:focus {
                        background-color: transparent;
                    }
                            
                }
                &.active>a,
                &.current-menu-item>a {
                    @include breakpoint-991{
                        color: $clr-black;
                    }
                } 

                &>a:hover,
                &>a:active,
                &>a:focus{
                    @include breakpoint-991{
                        background-color: #f0f0f0;
                        text-decoration: none;
                    }
                } 

                &.active>a,
                &.current-menu-item>a {
                    background-color: transparent;
                    color: $clr-black;
                }               

                &:hover>a {
                    color: $clr-black;
                }

                &:hover>.sub-menu{
                    opacity: 1;
                    visibility: visible;
                    margin-top: 0px;
                    transition: all 0.3s ease;
                }

                .sub-menu {
                    background-color: $clr-white;
                    display: block;
                    left: 0px;
                    top: 100%;
                    list-style: none;
                    margin: 20px 0 0;
                    opacity: 0;
                    padding: 0px;
                    position: absolute;
                    visibility: hidden;
                    width: 220px;
                    z-index: 10;

                    @include breakpoint-991{
                        display: none;
                        position: static;
                        visibility: visible;
                        width: auto;
                        background: #f9f9f9;
                        opacity: 1;
                        margin: 0px !important;
                    }
                    li {
                        border-bottom: 1px solid #f4f4f4;
                        position: relative;
                        text-transform: none;
                        a {
                            color:$clr-black;
                            display: block;
                            font-size: 13px;
                            padding: 10px 20px;
                            font-weight: 600;
                            &:hover {
                                color: $clr-black;
                                text-decoration: none;
                            }
                        }
                        &:hover>a {
                            color: $clr-primary;
                        }
                        &:last-child {
                            border-bottom: 0px;
                        }    
                        .fa {
                            color: $clr-black;
                            display: block;
                            float: right;
                            position: absolute;
                            right: 10px;
                            top: 2px;
                        }
                    }

                    li{
                        >.sub-menu {
                            left: 220px;
                            margin: 0px 0px 0px 20px;
                            transition: all 0.1s ease;
    
                            &>li{
                                @include breakpoint-991{
                                    float: none;
                                    display: block;
                                    width: auto;
                                }
                                a {
                                    @include breakpoint-991{
                                        padding-left: 30px;
                                    }
                                }
                            } 
                        } 
                    }
                    li{
                        &:hover{
                            >.sub-menu {
                                left: 220px;
                                margin: 0px;
                                opacity: 1;
                                top: -1px;
                                visibility: visible;
                                &:before {
                                    background-color: transparent;
                                    bottom: 0px;
                                    content: '';
                                    display: block;
                                    height: 100%;
                                    left: -6px;
                                    position: absolute;
                                    top: 0px;
                                    width: 6px;
                                }                

                            }
                        }
                    } 

                }

            }

            /*-- Submenu direction---*/                         
            .submenu-direction {
                .sub-menu {
                    left: auto;
                    right: 0px;
                    li {
                        >.sub-menu {
                            left: auto;
                            right: 220px;
                            margin: 0px 20px 0px 0px;
                        }
                        &:hover {
                            >.sub-menu {
                                left: auto;
                                right: 220px;
                                margin: 0px 0px 0px 0px;
                            }
                        }
                    }
                }
            }                

        
            &.nav-animation {
                .nav {
                    >li {
                        >ul.sub-menu {
                            li {
                                >a {
                                    transition: all 0.5s ease-out;
                                    position: relative;
                                    z-index: 1;
                                    &:before {
                                        position: absolute;
                                        content: "\f101";
                                        font-family: 'Flaticon';
                                        font-size: 10px;
                                        color:$clr-black;
                                        left: 5px;
                                        opacity: 0;
                                        transition: all 0.5s ease-out;
                                        top: 13px;
                                        @include breakpoint-991{
                                            opacity: 1;
                                            position: inherit;
                                            left: auto;
                                            top: auto;
                                            padding-right: 5px;
                                        }
                                    }
                                    &:hover {
                                        &:before {
                                            opacity: 1;
                                            left: 20px;
                                            @include breakpoint-991{
                                                left: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.nav-animation {
                .nav {
                    >li {
                        &:hover {
                            >ul.sub-menu {
                                li {
                                    &:hover {
                                        >a {
                                            padding-left: 40px;
                                            @include breakpoint-991{
                                                padding-left: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

    }


    .has-child{ 
        @include breakpoint-991{
            position: relative;  
        }
        .submenu-toogle {
            position: absolute;
            right: 4px;
            top: 4px;
            color: $clr-black;
            background-color: transparent;
            z-index: 900;
            cursor: pointer;
            padding: 10px;
            font-size: 14px;
            display: none;
            @include breakpoint-991{
                display: block;
            }
        }
        li{
            .submenu-toogle {
                opacity: 0.9;
            }
        }

        &.nav-active {
            >a {
                + {
                    .submenu-toogle.glyphicon-chevron-right {
                        &:before {
                            content: "\e114";
                        }
                    }
                }
            }
        }

        &.nav-active {
            >a {
                + {
                    .submenu-toogle.glyphicon-plus {
                        &::before {
                            content: "\2212";
                        }
                    }
                }
            }
        }

        &.nav-active {
            >a {
                + {
                    .submenu-toogle.fa.fa-angle-right {
                        &::before {
                            @include breakpoint-991{
                                content: "\f107";
                            }
                        }
                    }
                }
            }
        }          

    }         
    
    @include breakpoint_991{
        .mobile-full-width-menu{
            .header-nav{
                .nav {
                    position: inherit;
                }
            }
        }
    }
    /*====Mobile Side =======*/
    @include breakpoint_991 {
        
        &.mobile-sider-drawer-menu{
            .header-nav {
                position:fixed;
                width:250px !important;
                z-index:999;
                height:100vh !important;
                overflow-y: inherit !important;
                left:-250px;
                top:0px;
                transition: all 0.5s linear;	
                background-color:$clr-white;	
                .nav{ 
                    > li{
                        &:hover{
                            > .sub-menu{
                            animation:none !important
                            }
                        }
                    }
                }
                .nav {
                    >li {
                        .sub-menu {
                            li {
                                &:hover {
                                    >.sub-menu {
                                        animation: none !important;
                                    }
                                }
                            }
                        }
                    }
                }                
            }

            &.active {
                .header-nav {
                    left: 15px;
                }
            }

            .icon-bar{
                transition: all 0.5s linear;
                position: relative;		
            } 

            #mobile-side-drawer{min-height:41px; position: relative;}

            &.active {
                .icon-bar.icon-bar-first {
                    transform: rotate(45deg) translateX(3px) translateY(2px);
                }
            }

            &.active {
                .icon-bar.icon-bar-three {
                    transform: rotate(-45deg) translateX(3px) translateY(-2px);
                }
            }

            .icon-bar.icon-bar-two{
                position:relative;
                right:0%;
            }
            &.active {
                .icon-bar.icon-bar-two {
                    position: absolute;
                    right: 100px;
                    opacity: 0;
                }
            }

            .is-fixed {
                .header-nav {
                    .nav {
                        overflow: auto;
                        max-height: 100%;
                    }
                }
            }
            .header-fixed {
                .header-nav {
                    .nav {
                        overflow: auto;
                        max-height: 100%;
                    }
                }
            }

        }

    } 
    
    
    /*---when header is sticky---*/
    .sticky-no {
        .main-bar {
            position: static !important;
        }
    }
    /*---when header is sticky---*/
    .is-fixed {
        .main-bar {
            position: fixed;
            top: 0px;
            left: 0px;
        }
    }
    

    /*---header id Fixed---*/

    .is-fixed.color-fill {
        .header-nav {
            .nav {
                >li {
                    margin: 0px;
                    padding: 0px;
                }
            }
        }
    }

    @include breakpoint_991  {
        .header-nav {
            .nav {
                >li {
                    margin: 0px;
                    padding: 0px;
                    >a {
                        margin: 0px;
                        padding: 10px 12px;
                    }
                }
            }
        }
        .is-fixed.color-fill {
            .header-nav {
                .nav {
                    >li {
                        margin: 0px;
                        padding: 0px;
                    }
                }
            }
        }
        
    
    }

    @include breakpoint_767  {
        .main-bar {
            padding: 0px;
            .container{
                max-width: 100%;
            }
        }
        .is-fixed {
            .main-bar {
                padding: 0px;
            }
        }
        .is-fixed.color-fill {
            .main-bar {
                padding: 0px;
            }
        }
        
    }        
}




//GET IN TOUCH BTN//
.ap-btn {
	position: relative;
	padding: 30px 20px;
	color: $clr-white;
    cursor: pointer;
    background-color: $clr-black;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
    @include breakpoint-991{
        font-size: 14px;
        padding: 20px;  
    }
    @include breakpoint-767{
        font-size: 0px;
    }
    &:hover,
    &:visited {
		color: white;
    }
    i{
       border-radius: 50%;
       width: 30px;
       height: 30px;
       line-height: 30px;
       text-align: center;
       background-color: $clr-primary;
       color: $clr-white;
       margin-left: 10px;
       @include breakpoint-767{
            font-size: 14px;
            margin: 0px;
        }
    }
}

.slide-right {
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}
  @keyframes slide-right {
    0% {
              transform: translateX(0);
    }
    100% {
              transform: translateX(5px);
    }
  }
  
