$heading-font:'Poppins', sans-serif;
$common-font: 'Heebo', sans-serif;
$common-font-size: 16px;
$common-font-color:#1e1e1e;
$clr-black:#000;
$clr-white:#fff;
$clr-primary:#ea130e;
$clr-gray:#e7e7e7;
$clr-gray-light:#f9f9f9;
$transition: .5s all ease;
$outline-none:0px none;
$inherit:inherit;
$none:none;