/* Author: thewebmax team
=========================
This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.
This files [Table of contents] are outlined below
---------------------------------------------------
** - ========================
	 GENERAL 
	 ========================
** - Float clearfix
** - Heading & Title
** - Text align
** - Listing Style
** - Padding (around)
** - Padding (top)
** - Padding (bottom)
** - Padding (left)
** - Padding (right)
** - Padding (left right)
** - Padding (top bottom)
** - Margin (around)
** - Marging (top)
** - Marging (bottom)
** - Marging (left)
** - Marging (right)
** - Marging (left right)
** - Marging (top bottom)
** - Colum gap less
** - Background Effect
** - Overlay ( transparient box style)
** - Boxes Css
** - Box content
** - For icons with box
** - For only icons
** - Place icon with box
** - Icon box left align
** - Icon box right align
** - Icon box center align
** - Buttons 
** - Theme default button 
** - Button Effect
** - Button text uppercase 
** - Button size 
** - Button rounded 
** - Owl Slider
** - Owl dots button
** - Owl button top to center
** - Owl button top to left
** - Owl button top to right
** - Owl button bottom to center [it is default position ]
** - Owl button bottom to left
** - Owl button bottom to right
** - Owl button vertical to center
** - Owl button show on hover
** - Owl slider button
** - Owl dots nav position
** - ============================
	 THEMEFOREST REQUIRED CLASSES
     ============================
** - Text meant only for screen readers
** - Tabs 
** - Tabs style 1 [ default ] 


** - Title separators
** - Center-title
** - About one Section
** - About two Section
** - Counter Style One
** - Team Style One
** - Team-box-single
** - Year section
** - project style one
** - Video Section
** - Play button--
** - Testimonial Style One
** - Client Logo 1
** - Footer dark version css
** - Footer_Block
** - scroll top btn css
** - Revolution slider
** - revolution slider dotts style Start
** - Revolution Slider Button
** - Counter Style two
** - Team Style two
** - Blog Style 2
** - Revolution slider play btn
** - Pricing Table
** - Team Style three
** - Footer Light version css
** - inner page banner
** - Breadcrumb
** - filter buttons css
** - Gallery single
** - Pricing Table 2
** - Google map
** - Contact Form
** - Accordians
** - Error Page
** - iconfont
** - Pagination Style
** - Blog Side Bar
** - Blog post single
** - Comment list
** - comment form
** - Single Blog Post
** - Loading
** - Loading Animation Start
** - Loading Animation End
** - About Year
** - About Year
** - Section Overlay
** - Help Block
** - Service Box One
** - Blog Half Box
** - future section
** - Progress Bar
** - All Services
** - contact Popup
** - Top Part Search Bar
** - full navigation
** -  OPEN / CLOSE BTNS
** -  OVERLAY
---------------------------------------------------
*/
//@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import "media-queries";
@import "variables";
@import "general";
@import "header1";
@import "header2";

/*Title separators*/
.wt-separator-two-part{	
	padding-bottom:70px;
	@include breakpoint_991{
		padding-bottom:30px;;
	}
	&.when-bg-dark{
		.section-head{
			.wt-title{color: $clr-white;}
			&.left{
				&.wt-small-separator-outer{
					.wt-small-separator{
						  color: $clr-black;
						  div{
							&.sep-leaf-left{
								&:before{background-color: $clr-black;}
							}
							&.sep-leaf-left{
								&:after{background-color: $clr-black;}
							}
						}						
					}
				}
			}	
		} 
		.wt-separator-two-part-right{
			.p_discription{
				color: $clr-white;
			}
		}
	}
}

.wt-separator-two-part-row{
	display: flex;
	align-items: center;
	.wt-separator-two-part-left{ 
		.section-head{margin-bottom:0px;} 
	}
	.wt-separator-two-part-right{ 
		margin-bottom: 0px;
		p{margin-bottom:30px;}
		@include breakpoint_991{
			text-align: left !important;
			margin-top: 30px;
		}  
	}
}

.wt-small-separator{  
	font-family:$common-font;
	text-transform:uppercase;
	letter-spacing: 1px;
	padding-right: 40px;
	font-size: 26px;
	line-height: 26px;
	margin-bottom: 15px;
	position: relative;
	display: inline-block;
	font-weight: 700;
	color: $clr-primary;
	&.white{color: $clr-white;}
	@include breakpoint_767{
		font-size: 14px;
		margin-bottom: 10px;
		letter-spacing: 0px;
	}
}

.section-head{position: relative;
	&.when-bg-dark{
		.wt-title{color: $clr-white; } 
		p{color: #c1c1c1;}
	}
}

/*Center-title*/
.section-head{
   &.left{
		&.wt-small-separator-outer{text-align:left;
			h2{margin-bottom:5px;
				@include breakpoint_1200{
					font-size: 50px;
				}
				@include breakpoint_768{
					font-size: 30px;
			    }
			}
			p{margin-bottom:40px;}			
			.wt-small-separator{ 
				div.sep-leaf-left{
					position:relative;
					&:before,&:after{
						position: absolute;
						content: '';
						background-color:$clr-primary;
						height: 22px;
						bottom: 0px;
						top: 0px;
						transform: skew(-20deg);
					}
					&.white:before,
					&.white:after{background-color:$clr-white;}
					&:before{right: -20px; width: 10px;}
					&:after{right: -27px; width: 4px;}
				}
			}

			&.white {
				.wt-small-separator {
					div.sep-leaf-left{
						&:before,
						&:after{
							background-color: $clr-white;
						}
					}
					div{
						color: $clr-white;
					}
				}
			}			
		}
	}

	&.center{
		&.wt-small-separator-outer{
			margin-bottom: 50px;
			text-align:center;
		   h2{
			   max-width:630px;
			   margin:0px auto;
			   @include breakpoint_1200{
					font-size: 50px;
				}
				@include breakpoint_767{
					font-size: 30px;	
				}
				@include breakpoint_575{
					font-size: 30px;
				}
			}
		}
		
		.wt-small-separator{
			div.sep-leaf-left{	
				position:relative;
				&:before,&:after{
					position: absolute;
					content: '';
					background-color:$clr-primary;
					height: 22px;
					bottom: 0px;
					top: 0px;
					transform: skew(-20deg);
				}
				&:before{right: -20px; width: 10px;}
				&:after{right: -27px; width: 4px;}				
			}
		}
				
	}

}

/*About one Section*/
.about-max-one{	
	position: relative;	
	z-index: 1;
	padding-right: 50px;
	@include breakpoint_991{
		padding-right: 0px;
	}
	&:after{
		background-color: $clr-primary;
		content: '';
		position: absolute;
		z-index: -1;
		left: 0px;
		top: 0px;
		bottom: 0px;
		width: 45%;
	}
   .about-max-one-media{
	   padding:40px 0px 40px 40px;
		img{
			width: 100%;
		}
	}

}

/*About two Section*/
.about-max-two{	
	position: relative;	   
	z-index: 1;
	padding-right: 50px;
	@include breakpoint_420{
		padding-right: 0px;	
	}   
	&:after{
		background-image:url(../images/background/bg-dott2.png);
		content: '';
		position: absolute;
		z-index: -1;
		left: 0px;
		top:0px;
		bottom: 0px;
		width: 45%;
	}
   .about-max-two-media{
	   padding:40px 0px 40px 40px;
		img{
			width: 100%;

		}
	}


}

.about-section-two-right{
	.section-head{
		margin-bottom: 40px;
	}
	.ab-two-info{
		p{
			margin-bottom: 30px;
		}
	}
}

/*Counter Style One*/
.c-section-two{
	margin-top: 80px;
	.counter-block-half{
		border: 1px solid #fff;
		padding: 20px 0px;
		position: relative;
		top: -80px;
		background-color: #e7e7e7;
		margin-bottom: -80px;
	}
	.wt-icon-box-wraper{
		padding: 15px;
		transition: $transition;
		.icon-md,
		.counter,
		.icon-content{color: $clr-black;}
		
	}
	.icon-content-info{
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
	}
	.counter{
		font-size: 50px;
		font-family: $heading-font;
		font-weight: 700;
		line-height: 50px;
		@include breakpoint_767{
			font-size: 36px;
			line-height: 36px;
		}
		@include breakpoint_575{
			font-size: 26px;
			line-height: 26px;
		}
	}
	@include breakpoint_991{
		
		&.example-2{
			padding-bottom: 30px;
		}
	}
	
}

/*Team Style One*/
.wt-team-1 {
	position: relative;
	transition: $transition;
	z-index: 1;
	.wt-media {
		img {
			width: 100%;
		}
	}
	.wt-info {
		margin: 0px 20px;
		.team-detail {
			padding: 20px;
			width: 100%;
			background-color: $clr-white;
			text-align: center;
			box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
			margin-top: -60px;
			position: relative;	
			.team-position {
				font-family: $common-font;
				font-size: 15px;
				font-weight: 600;
				color: $clr-primary;
				display: block;
				margin-bottom: 10px;
			}
			.team-name{
				color: $clr-black;
			}
			.team-social-center {
				transition: $transition;
				ul {
					margin: 0px;
					padding-top: 5px;
					li{
						display: inline-block;
						width: 24px;
						text-align: center;
						a{color: $clr-black;
							font-size: 14px;
							&:hover{color: $clr-primary;}
						}
					}
				}
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0px;
				background-color: $clr-primary;
				height: 3px;
				z-index: 1;
				width: 0%;
				left: 50%;
				transform: translateX(-50%);
				transition: $transition;
			}
			&:hover {
				&:after {
					width: 80%;
				}
			}
		}
	}
}

/*Team-box-single*/
.team-box-single{
	.team-detail{
		padding: 40px 25px;
		.team-position{
			font-family: $common-font;
			font-size: 15px;
			font-weight: 600;
			color: $clr-primary;
			display: block;
			margin-bottom: 10px;
		}
		.team-name{
			margin-bottom: 30px;
			a{color: $clr-black;}
		}

		.team-detail-list{
			list-style: none;
			li{
				padding-bottom: 15px;
				border-bottom: 1px solid #dedfe1;
				margin-bottom: 15px;
				.team-list-title{
					color: #777777;
					margin-right: 10px;
				}
			}
		}
		.team-detail-social{
			ul{
				list-style: none;
				margin-bottom: 0px;
				li{
					display: inline-block;
					a{
						height: 30px;
						width: 30px;
						line-height: 30px;
						display: block;
						text-align: center;
						border: 1px solid $clr-black;
						background-color: $clr-primary;
						color: $clr-white;
						&:hover{
							color: $clr-white;
							background-color: $clr-black;
						}
					}
				}
			}
		}
	}

}

/*Year section*/
.year-section{
	position: relative;
	padding: 100px 0px;
	@include breakpoint_991{
		padding: 30px 0px;
	}
	.row{
		display: flex;
		align-items: flex-end;
	}
	.wt-title{
		position: relative;
		color: $clr-white;
		@include breakpoint_767{
			font-size: 44px;
    		letter-spacing: 2px;
		}
		@include breakpoint_575{
			font-size: 30px;
    		letter-spacing: 1px;
		}		
	}
	.wt-media{text-align: right;}
	&:after{
		background-color: #ff6a01;
		max-width: 400px;		
		height: 100%;
		content: '';
		margin-left: auto;
		position: absolute;
		top: 0px;
		right: 140px;
		z-index: -1;
		width: 100%;
		@include breakpoint_767{
			display: none;
		}			
	}
}

/*project style one*/
.project-box-style1-outer{
	[class*="col-"]{
		@include breakpoint_575{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0px;	
			}
		}
	}
}
.project-box-style1{
	position: relative;
	overflow: hidden;
	&:after{
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		opacity: 0;
		background-color: $clr-black;
		transform-origin: 0 0;
		transform: scaleY(0);
		transition: transform 0.5s cubic-bezier(0.57, 0.04, 0.06, 0.84), opacity 0s 0.5s;

	}
	&:hover:after{
		opacity: 0.5;
		transform: scaleY(1);
		transition: transform 0.5s cubic-bezier(0.57, 0.04, 0.06, 0.84), opacity 0s;
	}


	.project-content{
		padding: 20px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		z-index: 1;
		.project-title{
			margin-bottom: 15px;
			display: inline-block;
			font-family: $heading-font;
			font-weight: 600;
			font-size: 12px;
			background-color: $clr-primary;
			padding: 8px 16px;
			color: $clr-white;
			opacity: 0;
			transform: translate3d(-100%, 0, 0);
			transition: transform .4s, opacity .2s;
		}

		.project-title-large{
			margin-bottom: 0px;
			position: relative;
			opacity: 0;
			transform: translate3d(0, -100%, 0);
			transition: transform .4s, opacity .2s;
			a{
				color: $clr-white;
				transition: $transition;
				&:hover{
					color: $clr-primary;
				}
			}
		}
	}

	.project-view{
		position: absolute;
		top: 0px;
		right: 0px;
		opacity: 0;
		transform-origin: 0 0;
		transform: scaleY(0);
		transition: transform 0.5s cubic-bezier(0.57, 0.04, 0.06, 0.84), opacity 0s 0.5s;
		.project-view-btn{
			position: relative;
			display: block;
			width: 40px;
			height: 40px;
			i{
				width: 40px;
				height: 40px;
				display: block;
				background-color: $clr-primary;
				position: relative;
				
				&:after,
				&:before{
					content: '';
					background-color: $clr-white;
					position: absolute;
				}
				&:after{
					width: 1px;
					height: 24px;
					left: 50%;
					top: 50%;
					transform:translate(-50% , -50%);
				}
				&:before{
					width: 24px;
					height: 1px;
					left: 50%;
					top: 50%;
					transform:translate(-50% , -50%);
				}
			}
		}

	}
	&:hover{
		.project-view{
			opacity: 1;
			z-index: 3;
			transform: scaleY(1);
			transition: transform 0.5s cubic-bezier(0.57, 0.04, 0.06, 0.84), opacity 0s;
		}
	}	

	&:hover {
		.project-title{
			opacity: 1;
			transform: translate3d(0, 0, 0);
			transition: transform 0.6s cubic-bezier(0.57, 0.04, 0.06, 0.84) 0.1s, opacity 0.2s 0.1s;
		}			
		.project-title-large{
			opacity: 1;
			transform: translate3d(0, 0, 0);
			transition: transform 0.6s cubic-bezier(0.57, 0.04, 0.06, 0.84) 0.1s, opacity 0.2s 0.1s;
		}
	}

	.project-media{
		img{
			width: 100%;
		}
	}
	
}

/*Video Section*/
.video-section-first{
	position: relative;
	height: 220px;
	margin-top: 30px;
}

.video-with-content{
	.video-left-content{
		padding-top: 90px;
		position: relative;
		@include breakpoint_991{
			padding-top: 38px;
		}
		.wt-title{
			padding-bottom: 40px;
			margin-bottom: 40px;
			position: relative;
			&:after{
				content: "";
				height: 4px;
				width: 50%;
				background-color: $clr-black;
				position: absolute;
				left: 0px;
				bottom: 0px;
			}
		}
		p{
			font-size: 30px;
			font-weight: 700;
			font-family: $heading-font;
			color: $clr-white;

			@include breakpoint_575{
				font-size: 20px;
			}	
		}
		i{
			color: $clr-white;
			font-size: 130px;
			position: absolute;
			right: 0px;
			bottom: 0px;
			opacity: 0.3;
			line-height: 100px;
		}
	}
	.video-section-two{
		position: relative;
		height: 380px;
		margin-top: 50px;
		@include breakpoint_991{
			margin-top: 38px;
		}
	}
}

/*--Play button--*/
.play-now-video{ 
	.icon {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 65px;
		width: 65px;
		text-align: center;
		line-height: 65px;
		background-color:$clr-white;
		color:$clr-primary;
		z-index: 1;
		font-size: 20px;
		padding-left: 5px;
		display: block;
		transform: translateX(-50%) translateY(-50%);
		transform-origin: center center;
		border-radius: 50%;
		box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.5);
	}

	.ripple,
	.ripple:before,
	.ripple:after{
		position: absolute;
		top: 50%;
		left: 50%;
		height: 65px;
		width: 65px;
		transform: translateX(-50%) translateY(-50%);
		transform-origin: center center;
		border-radius: 50%;
		box-shadow:0 0 0 0 rgb(255, 255, 255);
		animation: ripple-video 3s infinite;
		z-index: 1;	
	}
	.ripple:before {
		animation-delay: .9s;
		content: "";
		position: absolute;
	}
	.ripple:after {
		animation-delay: .6s;
		content: "";
		position: absolute;
	}
}
	
@keyframes ripple-video {
	70% {box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);}
	100% {box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);}
}

/*Testimonial Style One*/
.testimonial-title-large{
	text-align: right;
	span{
		font-family: $heading-font;
		font-size: 80px;
		line-height:60px;
		text-transform: uppercase;
		letter-spacing: 10px;
		font-weight: 700;
		color: #f4f4f4;
		position: relative;
		bottom: -20px;
		right: 20px;
		@include breakpoint_991{
			font-size: 40px;
			letter-spacing: 0px;
			bottom: 0px;
			right: 0px;
			line-height: 40px;
		}
		@include breakpoint_767{
			display: none;
		}
	}
}

.testimonial-1-content{
	position: relative;
	margin: 0px -15px 30px -15px;
	width: auto;
	.testimonial-1{
		position: relative;
		padding: 40px 40px 40px 40px;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
		margin: 15px;
		@include breakpoint_420{
			padding: 20px;
		}
		.testimonial-pic {
			background:$clr-white;
			margin-bottom: 20px;
			width: 90px;
			height: 90px;
			position: relative;
			display: inline-block;
			&.radius {border-radius: 100%;}
			& img {width: 100%;	border-radius: 100%;}
		}
		.testimonial-info{padding:0px; 
			.testimonial-name {
				display: block;
				font-family: $heading-font;
				margin-bottom: 5px;
				color: $clr-black;
				font-size: 20px;
				font-weight: 700;
				&:after {display:none;}
				@include breakpoint_991{
					font-size: 24px;
					font-weight: 600;
					letter-spacing: 2px;
				}
			}
			.testimonial-position {
				display: block;
				font-size: 15px;
				font-weight: 600;
				font-family: $common-font;
				color: $clr-primary;
			}
		}
		.testimonial-text{
			padding: 30px 0px 0px 0px;
			position: relative;
			z-index: 1;
			p{  margin-bottom: 30px;
				font-family: $heading-font;
				font-size: 14px;
				font-weight: 600;
				font-style: italic;
				line-height: 28px; 
			}
			i{  font-size: 30px;
				line-height: 30px;
				color: $clr-primary;
				@include breakpoint_640{
					font-size: 48px;
					top: -40px;
				}
			}
		}

		.testimonial-detail{
			padding: 0px;
			border-bottom: 1px solid #e8e8e8;
			padding-bottom: 30px;
			@include breakpoint_640{
				display: block;
			}
		}	

	}


}

.testimonial-2-content{
	position: relative;
	.testimonial-2{
		position: relative;
		z-index: 1;
		padding: 30px 0px 30px 30px;
		overflow: hidden;
		&:before{
			content:'';
			position: absolute;
			z-index: -1;
			background-color: $clr-primary;
			width: 25%;
			top: 0px;
			left: 0px;
			bottom: 0px;
		}

		.testimonial-content{
			padding: 30px;
			background-color: $clr-white;
			.testimonial-pic-block{
				width: 90px;
				display: table-cell;
				vertical-align: middle;
				@include breakpoint_420{
					display:block;
				}
				.testimonial-pic {
					background:$clr-white;
					margin-right: 20px;
					width: 90px;
					height: 90px;
					position: relative;
					display: inline-block;
					&.radius {border-radius: 100%;}
					& img {width: 100%;	border-radius: 100%;}
				}
			}
			.testimonial-info{
				padding:0px;
				display: table-cell;
				vertical-align: middle;
				@include breakpoint_420{
					display:block;
				} 
				.testimonial-name {
					display: block;
					font-family: $heading-font;
					margin-bottom: 5px;
					color: $clr-black;
					font-size: 20px;
					font-weight: 700;
					&:after {display:none;}
				}
				.testimonial-position {
					display: block;
					font-size: 15px;
					font-weight: 600;
					font-family: $common-font;
					color: $clr-primary;
				}
			}
			.testimonial-text{
				padding: 30px 0px 0px 0px;
				position: relative;
				z-index: 1;
				p{  margin-bottom: 30px;
					font-family: $heading-font;
					font-size: 14px;
					font-weight: 600;
					font-style: italic;
					line-height: 28px; 
				}
				i{  font-size: 54px;
					line-height: 30px;
					color: $clr-primary;
					@include breakpoint_640{
						font-size: 48px;
						top: -40px;
					}
				}
			}

			.testimonial-detail{
				padding: 0px;
				border-bottom: 1px solid #e8e8e8;
				padding-bottom: 30px;
				display: table;
				width: 100%;
				@include breakpoint_420{
					display:block;
				}
			}
		}	
	}


}

/*Client Logo 1*/
.home-client-outer{position: relative;
	@include breakpoint_991{
		.section-head{
			&.left{
				&.wt-small-separator-outer{
					text-align: center;
				}
			}
		}
	}
}

.home-client-carousel{
	padding: 0px;
	.client-logo{ 
		img{
			width: auto;
			height: 100px;
			margin: auto;
		}
	}


}

/*Footer dark version css*/
.footer-dark{	
	background-color:$clr-black;
	color: #aeaeae;
	.footer-top {
		padding: 80px 0px 0px 0px;
	}
	.widget-title {
		font-family: $heading-font;
		color: $clr-white;
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 30px;
		padding-bottom: 10px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: 0px;
			left: 0px;
			background-color: $clr-primary;
			width: 70px;
			height: 2px;
		}
	}
	.social-icons{
			margin: 20px 0px 0px 0px;
		 li{
			display: inline-block;
			a {

				height: 30px;
				line-height: 30px;
				padding: 0px;
				color:$clr-primary;
				font-size: 14px;
				padding-right: 15px;
				&:hover {
					color: $clr-white;
				}
			}
		}
	}
	.footer-bottom {
		background-color: #0c0c0c;
		padding: 0px;
		color: $clr-white;
		position: relative;
		z-index: 1;
		font-weight: 400;		
		.footer-bottom-info{
			display: flex;
			padding: 20px 0px;
			justify-content: center;
			align-items: center;
			@include breakpoint_991{
				display: block;
				text-align: center;	
			}
		}
		.footer-copy-right{
			.copyrights-text {
				color: $clr-white;
				font-size: 14px;
			}
		}

	}

}

/*Footer_Block*/
.footer_blocks{
	padding: 30px 0px 0px 0px;
	border-top: 1px solid #191919;
	@include breakpoint_767{
		padding: 0px 0px 20px 0px;
		border: 0px;
	}
	.block-content{
		margin-bottom: 30px;
		color: $clr-white;
		display: flex;
		justify-content: center;
		.wt-tilte{color: $clr-white;}
		.icon-content{
			padding-top: 15px;
			p{
				margin-bottom: 0px;
			}
		}
		@include breakpoint_991{
			justify-content: left;
			.wt-icon-box-sm{
				width: 40px;
				[class^="flaticon-"]:before{
					font-size: 20px;
				}
			}
			.icon-content{
				.wt-tilte{
					font-size: 16px;
				}
				p{
					font-size: 13px;
				}
			}
		}
		@include breakpoint_767{
			margin-bottom: 10px;
		}
		
		
	}
}

.widget{
	margin-bottom: 40px;
}

.widget_team{
	.widget-media{
		img{
			width: 100%;
		}
	}
	.team-social-center {
		transition: $transition;
		ul {
			margin: 0px;
			padding-top: 5px;
			li{
				display: inline-block;
				width: 24px;
				text-align: center;
				a{color: $clr-black;
					font-size: 14px;
					&:hover{color: $clr-primary;}
				}
			}
		}
	}
}

.widget_address{
	list-style: none;
	margin-bottom: 0px;
	li{
		margin-bottom: 24px;
		position: relative;
		padding-left: 30px;
		font-size: 14px;
		font-weight: 400;
		color: #aeaeae;
		i {
			position: absolute;
			left: 0px;
			top: 5px;
			font-size: 18px;
			color:$clr-primary;
		}
		&:last-child{
			margin-bottom: 0px;
		}
	}
}

.widget_newsletter{ 
	p{
		font-size: 14px;
		font-weight: 400;
	}
	.form-control {
		background-color:$clr-white;
		color:$clr-black; 
		padding: 10px 40px 10px 20px; 
		border-radius: 0px;	
		&:-webkit-input-placeholder{
			/* Chrome/Opera/Safari */
			color: $clr-white;
			font-size: 12px;
			font-weight:400;
		}
		&:focus{
			background-color:$clr-gray;
		}
	}
	.newsletter-bx{
		margin-top: 18px;
		.site-button{
			background-color: transparent;
			position: absolute;
			right: 0px;
			padding: 10px 15px;
			font-size: 20px;
			color:$clr-black;
			z-index: 10;
		}
	}

}

.widget_services{
		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			li {
				display:block;
				width:100%;
				padding:2px 0px;
				border:0px;
				overflow:hidden;
				a {
					color: #aeaeae;
					font-weight:400;
					position:relative;
					padding: 2px 0px 0px 20px;
					display:block;
					margin-left: 0px;
					transition: $transition;
					font-size: 14px;
					&:hover{margin-left: 10px;}
					&:before{
						content:"\f04b";
						font-family:'FontAwesome';
						position:absolute;
						left:0px;
						font-size:8px;
						top: 6px;
						color: $clr-primary;
						
					}
				}
			}
		}
}

.widget_about{
	p{
		font-weight: 400;
		font-size: 14px;
	}
}

/*scroll top btn css*/
button{
	&.scroltop {
		height: 40px;
		width: 40px;
		background: #1d1b18;
		border: none;
		position: fixed;
		right: 15px;
		bottom: 15px;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		cursor: pointer;
		display: none;
		text-align: center;
		z-index: 999;
		color: #fff;
		span{
			display: block;
			font-size: 24px;
			line-height: 24px;
		}
	}
}

/*Revolution slider*/

/*revolution slider dotts style Start*/
.bullet-bar{
	&.tp-bullets:before{
		content:" ";
		position:absolute;
		width:100%;
		height:100%;
		background:transparent;
		padding:10px;
		margin-left:-10px;
		margin-top:-10px;
	}
	.tp-bullet{
		width:3px;
		height:30px;
		position:absolute;
		background:$clr-white;
		cursor:pointer;
		&:hover,
		&.selected{
			background:$clr-primary !important;
		}
	}
}

/*Revolution Slider Button*/

.rev-btn{
	.site-button{
		outline: none;
		color: #fff;
		padding: 15px 40px !important;
		letter-spacing: 1px !important;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		display: inline-block;
		background-color: #ea130e;
		border: none;
		font-size: 15px;
		font-weight: 500;
		line-height: normal !important;
	}

}

.rev-btn{
	.site-button-secondry{
		outline: none;
		color: #fff;
		padding: 15px 40px !important;
		letter-spacing: 1px !important;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		display: inline-block;
		background-color:$clr-black;
		border: none;
		font-size: 15px;
		font-weight: 500;
		line-height: normal !important;
	}

}

.slider-block{
	border-radius: 50%;
	background-color: $clr-black;
	position: relative;
	margin: 40px !important;
	
	&:after{
		position: absolute;
		content: '';
		left: -40px;
		right: -40px;
		top: -40px;
		bottom: -40px;
		border: 1px solid $clr-black;
		border-radius: 50%;
	}
}

.slider-block-2{
	border-radius: 50%;
	background-color: $clr-primary;
	position: relative;
	margin: 40px !important;

	&:after{
		position: absolute;
		content: '';
		left: -40px;
		right: -40px;
		top: -40px;
		bottom: -40px;
		border: 1px solid $clr-white;
		border-radius: 50%;
		opacity: 0.4;
	}
	&:before{
		position: absolute;
		content: '';
		left: -40px;
		right: -40px;
		top: -40px;
		bottom: -40px;
		border-radius: 50%;
		border: 40px solid $clr-white;
		opacity: 0.2;
	}
}

/*Counter Style two*/
.c-section-one{
	[class*='col-']{
		border: 1px solid #484848;
	}	
	.wt-icon-box-wraper{
		padding: 20px;
		transition: $transition;
		.icon-md,
		.icon-content{color: $clr-black;}
	}
	.counter{
		font-size: 50px;
		font-family: $heading-font;
		font-weight: 700;
		line-height: 50px;
		@include breakpoint_767{
			font-size: 40px;
			line-height: 40px;
		}
	}
	.icon-content-info{
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

/*Team Style two*/
.wt-team-2{
	position: relative;
	transition: $transition;
	z-index: 1;
	.wt-media{
		img{width: 100%;}
	}
	.wt-info{
		margin: 0px;
		.team-detail{
			padding: 20px 0px 20px 0px;
			width: 100%;
			background-color: $clr-white;
			text-align: center;
     		position: relative;	
			
			.team-position{
				font-family: $common-font;
				font-size: 15px;
				font-weight: 600;
				color: $clr-primary;
				display: block;
				margin-bottom: 10px;
				@include breakpoint_991{
					font-size: 18px;
					font-weight: 600;
					letter-spacing: 1px;
				}
			}
			.team-name{
				color: $clr-black;
			}

			.team-social-center{
				transition: $transition;
				ul{
					margin: 0px;
					padding-top: 5px;
					position: relative;
					opacity: 0;
					transform: translate3d(0, -100%, 0);
					transition: transform .4s, opacity .2s;
					li{
						display: inline-block;
						width: 24px;
						text-align: center;
						a{color: $clr-black;
							font-size: 14px;
							&:hover{color: $clr-primary;}
						}
					}
				}
			}

			&:after{
				content: '';
				position: absolute;
				bottom: 0px;
				background-color: $clr-primary;
				height: 3px;
				z-index: 1;
				width: 0%;
				left: 50%;
				transform: translateX(-50%);
				transition: $transition;
			}

			&.white{
				background-color:transparent;
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				.team-name{
					a{
						color: $clr-white;
					}
				}
				.team-social-center{
					ul{
						li{
							a{color: $clr-white;
								&:hover{color: $clr-primary;}
							}
						}
					}
				}
			}

		}
	}
	&:hover{
		.team-detail:after{
			width: 100%;
		}
		.wt-info{
			.team-detail{
				.team-social-center{
					ul{
						opacity: 1;
						transform: translate3d(0, 0, 0);
						transition: transform 0.6s cubic-bezier(0.57, 0.04, 0.06, 0.84) 0.1s, opacity 0.2s 0.1s;
					}
				}
			}
		}
	}
}

/*Blog Style 2*/
.blog-post-style-2{
	position: relative;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	.blog-bg{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		z-index: -1;
		opacity: 0;
		transition: $transition;
	}
	.wt-post-info{margin: 25px;
		.wt-post-title {
			margin-bottom: 0px;
			.post-title {margin-bottom: 15px;}
		}
		.wt-post-discription{
			p{
				font-family: $common-font;
				margin-bottom: 0px;
			}
		}
	}

	.wt-post-media{
		position: relative;
		a{
			img{
				width: 100%;
			}
		}
		.wt-post-category{
			position: absolute;
			left: 20px;
			top: 0px;
			a{
				color: $clr-white;
				background-color: $clr-primary;
				display: inline-block;
				padding: 10px 10px 7px 10px;  
			}
		}
	}

	.wt-post-bottom{
		border-top: 1px solid #dbdbdb;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		padding: 20px 25px;
		@include breakpoint_400{
			flex-wrap: wrap-reverse;
		}
		.wt-post-meta {
			font-family: $heading-font;
			ul {
				margin: 0px;
				list-style: none;
				li { 
					padding: 0;
					display: inline-block;
					font-size: 16px;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-weight: 500;	
					i {margin-right:5px;}			
				}
			}
			
		}
		.wt-post-readmore {
			margin-bottom: 0px;
		}
	}

}

/*Revolution slider play btn*/
.tp-caption{
	.rev-img-circle{	
		position: relative;
		z-index: 1;
		&:after{
			position: absolute;
			content: '';
			background-color: $clr-primary;
			left: 0px;
			top: -40px;
			bottom: -40px;
			right: -60px;
			z-index: -1;
			padding: 40px;
			border-radius: 50%;
			@include breakpoint_800{
				left: -10px;
				right: -10px;
				top: -10px;
				bottom: -10px;
			}
		}
	}
}

/*Pricing Table*/
.pricing-block-outer{
	position: relative;
	border-width: 1px 0px 1px 1px;
	border-style: solid;
	border-color: $clr-black;
	margin-bottom: 30px;
	@include breakpoint_991{
		border:0px;
		.row{
			margin-left: -15px;
			margin-right: -15px;
			display: flex;
			justify-content: center;
			[class*='col-']{
				padding: 1px;
			}
		}
	}
	@include breakpoint_767{
		padding: 0px 15px;
	}
}

.pricing-table-1{
	position: relative;
	padding: 30px 30px 30px 50px;
	border-right: 1px solid $clr-black;
	@include breakpoint_991{
		border: 1px solid $clr-black;	
	}
	.p-table-title{
		position: absolute;
		top: 0px;
		left: 10px;
		bottom: 0px;
		width: 30px;
		.wt-title{
			position: absolute;
			left: 0%;
			bottom: 0px;
			white-space: nowrap;
			transform: rotate(-90deg);
			transform-origin: 0 0;
			font-size: 16px;
			text-transform: uppercase;
		}
	}
	.p-table-list{
		padding-top: 20px;
		ul{
			list-style: none;
			li{
				position: relative;
				font-size: 14px;
				font-weight: 600;
				margin-bottom: 5px;
			}
		}
	}
	.p-table-price{
		margin-bottom: 20px;
		span{
			font-family: $heading-font;
			font-size: 66px;
			line-height: 56px;
			font-weight: 300;
			display: block;
			margin-bottom: 20px;
			@include breakpoint_991{
				font-size: 36px;
				line-height: 26px;	
			}
		}
		p{
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 1px;
		}
	}
}

/*Team Style three*/
.wt-team-3{
	overflow: hidden;
	position: relative;
	border: 1px solid $clr-gray;
	.wt-media{
		transition: $transition;
		position: relative;
	}
	.team-detail{
		padding-top: 15px;
		text-align: center;
		.team-position{
			font-family: $common-font;
			font-size: 15px;
			font-weight: 600;
			color: $clr-primary;
			display: block;
			margin-bottom: 10px;
		}
		.team-name{
			a{color: $clr-black;}
		}
	}
	.team-social-center{
		position: absolute;
		bottom: 80px;
		left: -100%;
		transition: $transition;
		ul{margin: 0px;
			li{display: block;
				margin-bottom: 1px; 
				a{color: $clr-white;
					display: block;
					width: 40px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					background-color: $clr-primary;
					&:hover{color: $clr-white; background-color: $clr-black;}
				}
			}
		}
	}
	&:hover{ 
		.team-social-center{left: 0px; z-index: 1;}
	}


}

/*Footer Light version css*/
.footer-light{	
	background-color:#ececec;
	color: $clr-black;
	.footer-top {
		padding: 80px 0px 0px 0px;
	}
	.widget-title {
		font-family: $heading-font;
		color:$clr-black;
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 30px;
		padding-bottom: 10px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: 0px;
			left: 0px;
			background-color: $clr-primary;
			width: 70px;
			height: 2px;
		}
	}
	.social-icons{
			margin: 20px 0px 0px 0px;
		 li{
			display: inline-block;
			a {

				height: 30px;
				line-height: 30px;
				padding: 0px;
				color:$clr-primary;
				font-size: 14px;
				padding-right: 15px;
				&:hover {
					color: $clr-black
				}
			}
		}
	}
	.footer-bottom {
		background-color: #0c0c0c;
		padding: 0px;
		color: $clr-white;
		position: relative;
		z-index: 1;
		font-weight: 400;		
		.footer-bottom-info{
			display: flex;
			padding: 20px 0px;
			justify-content: center;
			align-items: center;
			@include breakpoint_991{
				display: block;
				text-align: center;	
			}
		}
		.footer-copy-right{
			.copyrights-text {
				color: $clr-white;
				font-size: 14px;
			}
		}

	}

	.widget_services{
		ul{
			li{
				a{
					color: $clr-black;
				}
			}
		}
	}
	/*Footer_Block*/
	.footer_blocks{
		.block-content{
			color: $clr-black;
			.wt-tilte{color: $clr-black;}
			.icon-content{
				p{
					color: $clr-black;
				}
			}
			
		}
	}
}

/*--inner page banner --*/
.wt-bnr-inr {
	height: 380px;
	background-size: cover;
	background-position: center center;
	display: table;
	width: 100%;
	.container {
		display: table;
		height: 100%;
	}
}

.wt-bnr-inr-entry {
	display: table-cell;
	vertical-align: bottom;
	text-align: left;
	padding-bottom: 60px;
	.banner-title-outer {
		position: relative;
		.wt-title{
			margin-bottom: 0px;
			position: relative;
			@include breakpoint_767{
				font-size: 40px; 
			}
		}
		.banner-title-name {
			display: inline-block;
			margin-bottom:15px;
			border-left: 12px solid $clr-primary;
			padding-left: 20px;
			.wt-title{
				color: $clr-white;
			}
		}
	}
}

.banner-inner-row{
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $clr-white;
	}

}

/*--Breadcrumb --*/
.wt-breadcrumb{
	margin: 0;
	list-style: none;
	li {
		padding-right: 20px;
		color:$clr-white;
		position: relative;
		display: inline-block;
		font-size: 16px;
		font-family: $heading-font;
		a{
			color: $clr-white;
			&:hover{color: $clr-primary;}
		}

	&:after{
		content: '\f101';
		font-family: Flaticon;
		position: absolute;
		right: 1px;
		top: 3px;
		color:$clr-primary;
		font-size: 12px;
		font-weight: 600;
	}
	&:last-child {
			color: $clr-primary;
			padding-right: 0px;
			&:after {display: none;}
		}
	&:first-child {	
		a{
			i {	font-size: 18px;
				vertical-align: text-top;}
		}
	}
	}

}

/* filter buttons css */
.filter-wrap{
	border-bottom: 2px solid #efefef;
	margin-bottom: 40px;
	text-align: center;
	@include breakpoint_640{
		text-align: left;
	}
	.masonry-filter {
		display: inline-block;
		margin-bottom: 0;
		>li {
			display: inline-block;
			&:last-child {
				margin-right: 0px;
			}
			&.active {
				a {
					color: $clr-primary;
				}
			}		

		}
		li {
			position: relative;
			z-index: 1;
			&:before{
			content: "";
			width: 0;
			height: 100%;
			left: 0;
			bottom: 0px;
			position: absolute;
			background: $clr-primary;
			z-index: -1;
			transition: $transition;
			}
			&:hover:before{
				width: 100%;
			}

			a {
				color:$clr-black;
				font-size: 14px;
				position: relative;
				z-index: 1;
				display: block;
				margin: 1px 0px;
				font-weight: 600;
				letter-spacing: 1px;
				padding: 10px 10px 10px;
				transition: $transition;
				&:hover,
				&:active{
					color: $clr-white;
				}		
			}

			@include breakpoint_767{
				margin-bottom: 5px;
			}
		}


	}
}

.project-outer2{
	position: relative;
	padding-bottom: 60px;
	.project-style-2{
		position: relative;
		background-color: $clr-black;
		.pic-long {
			display: block;
		}

		.pic-small {
			display: block;
		}

		img{opacity: 1;transition: $transition; width: 100%;}
		.wt-info{
			position: absolute;
			left: 50%;
			top: 0%;
			transform: translate(-50%);
			display: flex;
			opacity: 0;
			transition: $transition;
			a{
				display: block;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				background-color: $clr-primary;
				color: $clr-white;
				transition: $transition;
				margin-right: 2px;
				i{
					font-size: 14px;
				}

			}

		}

		&:hover{			
			img{opacity: 0.3;}
			.wt-info{
				opacity: 1;
				top: 50%;
				transform: translate(-50% , -50%);
				a{
					&:hover{
						background-color: $clr-white;
						color: $clr-black;
					}
				}				
			}

		}

	}
	.project-content{
		padding: 20px;
		position: absolute;
		left: 30px;
		bottom: 0px;
		right: 0px;
		background-color:$clr-white;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
		.project-category{
			font-family: "Heebo", sans-serif;
			font-size: 15px;
			font-weight: 600;
			color: $clr-primary;
			display: block;
			margin-bottom: 10px;
		}
	}
}

/*Gallery single*/
.project-img-effect-1{
	position: relative;
	.wt-info {
		position: absolute;
		bottom: 20px;
		left: 20px;
		padding: 30px;
		max-width: 540px;
		@include breakpoint_768{
			position: inherit;
			left: auto;
			bottom: 0px;
			padding: 30px 0px 0px 0px;
			max-width: 100%;
		}
		.project-title{
			margin-bottom: 15px;
			display: inline-block;
			font-family: $heading-font;
			font-weight: 600;
			font-size: 12px;
			background-color: $clr-primary;
			padding: 8px 16px;
			color: $clr-white;
		}
		.project-title-large{
			color: $clr-black;
			&:hover{
				color: $clr-primary;
			}
		}
	}
}

.arrow-list-1{
	list-style: none;
	padding-left: 0;
	margin-bottom: 20px;
	li {
		display:block;
		width:100%;
		padding:2px 0px;
		border:0px;
		overflow:hidden;
		strong {
			color: $clr-black;
			position:relative;
			padding: 2px 30px 0px 0px;
			display:block;
			margin-left: 0px;
			transition: $transition;
			font-size: 16px;
		}
	}
}

.project-single-sibar-info{
	padding: 20px;
	background-color: $clr-gray;
	.wt-tilte{
		margin-bottom: 15px;
	}
	.info-list-1{
		list-style: none;
		margin-bottom: 0px;
		li{
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			margin-bottom: 10px;
			padding-bottom: 10px;
			color: #4a4a4a;
			display: flex;
			font-size: 14px;
			&:last-child{
				border-bottom: 0px;
				margin-bottom: 0px;
				padding-bottom: 0px;	
			}
			.title{
				display: inline-block;
				width: 50%;
				margin-bottom: 0px;
				color: $clr-black;
				font-size: 14px;
			}
			span{
				display: inline-block;
				width: 50%;
				text-align: right;
				
			}
		}
	}
}

/*Pricing Table 2*/
.pricing-block-outer2{
	position: relative;
}

.pricing-table-2{
	position: relative;
	padding: 30px;
	text-align: center;
	background-color: $clr-black;
	.p-table-title{
		.wt-title{
			color: $clr-white;
			margin-bottom: 30px;
			@include breakpoint_767{
				font-size: 24px;
			}
		}
	}
	.p-table-list{
		padding-top: 20px;
		ul{
			list-style: none;
			li{
				position: relative;
				font-size: 14px;
				font-weight: 500;
				margin-bottom: 5px;
				color: $clr-white;
			}
		}
	}
	.p-table-price{
		display: flex;
		align-items: center;
		justify-content: center;
		span{
			font-family: $heading-font;
			color: $clr-primary;
			font-size: 44px;
			line-height: 34px;
			font-weight: 700;
			display: block;
			margin-bottom: 20px;
		}
		p{
		font-size: 16px;
		font-weight: 700;
		color: $clr-white;
		}
	}
}

/*Google map*/
.gmap-outline{
	@include breakpoint-991{
		padding-bottom: 40px;
	}
}
.google-map {	width: 100%;	height: 460px;}

/*Contact Form*/
.contact-one{
	.contact-info{
		margin-left: -50px;
		padding: 60px;
		position: relative;
		z-index: 1;
		@include breakpoint_991{
			margin-left: 15px;
			padding: 60px 30px 30px 30px;
		}
		&:after{
			content: '';
			position: absolute;
			left: -15px;
			top: -15px;
			width: 50px;
			height: 50px;
			background-color: $clr-primary;
			z-index: -1;
		}
		&:before{
			content: '';
			position: absolute;
			left: 10px;
			top: 10px;
			width: 30px;
			height: 30px;
			border-style: solid;
			border-width: 0px 2px 2px 0px;
			border-color: $clr-white;
			z-index: -1;
		}
	}
	.contact-info-section {
		position: relative;

		.c-info-column{
			padding:20px 0px 20px 30px;
			color: $clr-white;
			span{
				font-weight: 600;
				font-size: 18px;
				display: block;
			}
			p{margin-bottom: 0px;}
		}
	}
	@include breakpoint_991{
		margin-bottom: 20px;
	}

}

.contact-form-outer{
	padding: 50px 100px 50px 50px;
	@include breakpoint_991{
		padding: 50px;
		margin-bottom: 30px;
	}
	@include breakpoint_767{
		padding: 20px;
	}
}

.cons-contact-form{
	.form-control{
		border-width: 0px 0px 1px 0px;
		border-style: solid;
		border-color:$clr-black;
		height: 52px;
		padding: 10px 0px;
		background-color: transparent;
		&:focus{
			box-shadow: none;
			background-color: transparent;

		}
	}
	
	textarea.form-control{
			padding-top:15px;
			height: 100px;
			margin-bottom:40px; 
	}
}

/*Accordians*/
.wt-accordion {
	.wt-panel {
		background-color: $clr-gray-light;
		border: none;
		margin-bottom: 10px;
		border-radius: 0;
		box-shadow: none;
		.acod-content{
			padding: 20px 20px 20px 60px;
		}
	}
}

.acod-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
	a {
		position: relative;
		z-index: 1;
		overflow: hidden;
	}
}

.acod-head {
	position: relative;
	a {
		display: block;
		padding:20px 20px 18px 60px;
		&.collapsed {
			color: #1e1e1e;
		}
	}
	.fa {
		margin-right: 5px;
	}

	& a,
	&:hover,
	&:active,
	&:focus {color: #0f1221;
	}

	.indicator {
		padding: 15px;
		color: $clr-black;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		font-size: 12px;
		border: 1px solid $clr-black;
		.fa {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}


	/*Accodian open close indicator css*/

	&.acc-actives {
		.indicator {
			.fa {
				&:before {
					content: "\f067";
					font-family: 'FontAwesome';
				}
			}
		}
	}
	[aria-expanded="false"] {
		.indicator {
			.fa {
				&:before {
					content: "\f067";
					font-family: 'FontAwesome';
				}
			}
		}
	}

	&.acc-actives {
		.indicator {
			.fa {
				&:before {
					font-family: 'FontAwesome';
					content: "\f068";
				}
			}
		}
	}
	
	[aria-expanded="true"] {
		.indicator {
			.fa {
				&:before {
					font-family: 'FontAwesome';
					content: "\f068";
				}
			}
		}
	}
	

	& {
		.collapsed {
			.indicator {
				.fa {
					&:before {
						content: "\f067";
						font-family: 'FontAwesome';
					}
				}
			}
			[aria-expanded="false"] {
				.indicator {
					.fa {
						&:before {
							content: "\f067";
							font-family: 'FontAwesome';
						}
					}
				}
			}
		}
		.indicator {
			.fa {
				&:before {
					font-family: 'FontAwesome';
					content: "\f068";
				}
			}
		}
		[aria-expanded="true"] {
			.indicator {
				.fa {
					&:before {
						font-family: 'FontAwesome';
						content: "\f068";
					}
				}
			}
		}
	}
	


}

.faq-help-form{
	.form-control{
		border-width: 0px 0px 1px 0px;
		border-style: solid;
		border-color:$clr-black;
		height: 52px;
		padding: 10px 0px;
		background-color: transparent;
		&:focus{
			box-shadow: none;
		}
	}
	textarea{
		&.form-control{
			height: 115px;
		}
	}
}

.form-control {
	height: 50px;
	font-size: 13px;
	line-height: 20px;
	padding: 10px 12px;
	border-radius: 0px;
	border: none;
	&:focus{
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
     	background-color: #F8F8F8;
	}
}

/*Error Page*/
.page-notfound-outer{
	.container-fluid{
		padding: 0px;
	}
}

.page-notfound{
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	background-color: $clr-white;
	position: relative;
	z-index: 1;
	padding: 0px 30px;
	&:after{
		content: '';
		position: absolute;
		height: 200px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background-color: #f4f4f4;
		z-index: -1;
	}

	strong{
		font-family: $heading-font;
		font-size: 300px;
		line-height: 240px;
		color: $clr-primary;
		display: block;
	}
	.error-title{color: $clr-black;}
	.error-comment{color: $clr-black;}
	.page-notfound-content{
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
		p{
			margin-bottom: 30px;
		}
	}
	@include breakpoint_1200{
		strong{
			font-size: 100px;
    		line-height: 120px;
		}
	}
	@include breakpoint_991{
		text-align: center;
		.page-notfound-content{
			margin-bottom: 30px;
		}
		.page-notfound-media{
			margin-bottom: 30px;
			text-align: center !important;
		}
	}


}

/*iconfont*/
.icon-font-block{ 
	text-align: center;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	padding: 15px 10px;
	.flat-icon {
		padding: 10px 0px;
		display: block;
		font-size: 64px;
		line-height: 1;
	}
}

/*Pagination Style*/
.pagination-outer{
	@include breakpoint_991{
		margin-bottom: 30px;
	}
	.pagination-style1{
		position: relative;
		display: inline-block;

		ul{
			list-style: none;
			margin-bottom: 0px;
			li{
				position: relative;
				margin: 0px 1px 0px;
				display: inline-block;
				&.prev{
					a {
						width: 70px;
						height: 40px;
						font-size: 16px;
						color: $clr-white;
						font-weight: 700;
						border-radius: 50px;
						transition:$transition;
						letter-spacing: 1px;
						@include breakpoint_420{
							width: 60px;
						}
					}
				}
				&.next{ 
					a {
						width: 70px;
						height: 40px;
						font-size: 16px;
						color: $clr-white  ;
						font-weight: 700;
						border-radius: 50px;
						transition:$transition;
						letter-spacing: 1px;
						@include breakpoint_420{
							width: 60px;
						}
					}
				}



				a{
					position: relative;
					width: 40px;
					height: 40px;
					color: $clr-white;
					font-size: 16px;
					font-weight: 400;
					line-height: 40px;
					border-radius: 50px;
					text-align: center;
					display: inline-block;
					transition: $transition;
					font-family: $heading-font;
					background-color: $clr-black;
				}

				&:hover{
					
					a{
						background-color: $clr-primary;
					}
				}
			}
		}
	}
}

/*Blog Side Bar*/
.side-bar{
	.widget{
		padding: 35px 25px 35px 25px;
		border: 2px solid $clr-gray;
		overflow: hidden;
		
		@include breakpoint_991{
			&:last-child{
				margin-bottom: 0px;
			}
		}
		@include breakpoint_480{
			padding: 20px 20px 20px 20px;
		}
		.form-control{
			background-color: $clr-gray-light;
		}
	}

	//search box
	.search-bx {
		.input-group-btn{
			.btn{
					background-color: $clr-primary;
					color: $clr-white;
					border-radius: 0px;
					height: 50px;
					padding: 0px 20px;
				}
			}
	}

	//insta post
	.widget-insta-post{
		ul{
			margin: -3px -3px 0px -3px;
			display: flex;
			flex-wrap: wrap;
			li {
				display: inline-block;
				margin: 3px;
				@include breakpoint_575{
					margin: 0.5%;
					width: 24%;
				}
				&:hover{
					a:before {
					opacity: .6;
					}
				}
				a {
					position: relative;
					display: block;
					width: 94px;
					@include breakpoint_1199{
						width: 74px;
					}
					@include breakpoint_991{
						width: 85px;
					}
					@include breakpoint_575{
						width: 100%;
					}

					img{
						width: 100%;
					}
					&:before {
						content: "";
						position: absolute;
						height: 100%;
						width: 100%;
						left: 0px;
						top: 0px;
						background-color: $clr-primary;
						opacity: 0;
						transition: $transition;
					}
				}
			}
		}

	}

	//widget services
	.widget_services {
		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			background-color: $clr-white;
			li {
				position: relative;
				padding: 10px 0px;
				line-height: 20px;
				font-size: 14px;
				&:last-child {
					padding-bottom: 0px;
				}
				a {
      				color: $clr-black;
					margin-left: 0px;
					padding: 0px;
					display: inline-block;
					font-family: $heading-font;
					font-size: 14px;
					font-weight: 600;
					&:hover{
						color: $clr-primary;
					}
					i {padding-right:5px;}
					&:before{
						display: none;
					}
				}
				.badge {
					background: none;
					color:$clr-primary;
					font-size: 14px;
					font-weight: 600;
				}			

			}
		}
	}

	//recent post
	.recent-posts-entry{

		.widget-post {
			margin-bottom: 20px;
			&:last-child {
				border: none;
				margin-bottom: 0px;
			}
		}

		.wt-post-media {
			width: 80px;
			float: left;

			img{
				border-radius: 0px;
			}		
		}

		.wt-post-info {
			margin-left: 95px;
			.post-date {
				margin-top: 0px;
				color: $clr-primary;
				font-family: $heading-font;
				font-size: 12px;
				font-weight: 600;
				display: block;
			}	
			.post-title {
				margin-top: 0px;
				font-family: $heading-font;
				font-size: 14px;
				font-weight: 600;
				display: block;
			}		
		}

	}

	//widget tags-list

	.widget_tag_cloud{
		 a {
			padding: 6px 15px;
			margin-bottom: 3px;
			display: inline-block;
			color: $clr-black;
			font-family: $heading-font;
			font-size: 14px;
			font-weight: 400;
			background-color:$clr-gray-light;
			&:hover {
				background-color:$clr-black;
				color:#fff;
			}
		}
	}


	
}

/*Blog post single*/
.blog-post-style-2{
	&.blog-post-single{
	.wt-post-discription{
		p{
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0px;
			}
		}
	}
	.wt-post-meta {
		margin-bottom: 5px;
		ul{
			margin-bottom: 0px;
			li {
				padding-right: 10px;
				display: inline-block;
				font-size: 12px;
				font-weight: 500;
				position: relative;
				&:after{
					position: absolute;
					content: '|';
					right: 0px;
					top: 0px;
				}
				&:last-child:after{
					display: none;
				}
				a:hover{
					color: $clr-primary;
				}
			}
		}
	}
	blockquote{
		padding: 50px;
		margin: 30px 0px 30px 0px;
		font-style: normal;
		position: relative;
		z-index: 1;
		font-size: 14px;
		color: $clr-black;
		border-left: 10px solid $clr-gray;
		.fa-quote-left {
			position: absolute;
			font-size: 50px;
			left: auto;
			right: 30px;
			top: auto;
			opacity: 0.3;
			color:$clr-primary;
			line-height: 50px;
			z-index: -1;
		}	
	}
}
}

/*--Comment list--*/
.comments-area {
	padding: 0;
	.comments-title {
		font-size: 24px;
		margin-bottom: 20px;
	}
}

ol.comment-list {
	list-style: none;
	li.comment {
		position: relative;
		padding: 0;
		.comment-body {
			padding: 0px 0px 30px 120px;
			position: relative;
			margin-bottom: 30px;
			border-bottom: 2px solid $clr-gray;
			overflow: hidden;
			@include breakpoint_480{
				padding: 0px 0px 60px 0px;
			}
		}
		.comment-author {
			display: inline-block;
			margin-bottom: 10px;
			.avatar {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100px;
				height: 100px;
				transition: all .5s ease-in-out;
				@include breakpoint_480{
					position: inherit;
					margin-bottom: 20px;
				}
			}
			.fn {
				display: inline-block;
				color: #000;
				font-size: 14px;
				font-weight: 600;
				font-style: normal;
				@include breakpoint_480{
					display: block;
				}
			}
		}
		.comment-meta {
			margin-bottom: 5px;
			display: inline-block;
			a {
				color: $clr-primary;
				font-weight: 600;
				font-size: 14px;
			}
			&:before {
				font-family: "FontAwesome";
				font-size: 16px;
				vertical-align: top;
			}
		}
		.reply {
			position: absolute;
			right: 0px;
			top: 0px;
			@include breakpoint_480{
				top: auto;
				right: auto;
				bottom: 20px;
				left: 0px;
			}
			.comment-reply-link {
				position: relative;
				color: $clr-white;
				background-color: $clr-primary;
				padding: 4px 12px;
				font-size: 14px;
				display: inline-block;
				&:hover {
					color:$clr-white;
					background-color: $clr-black;
				}
			}
		}
		p {
			margin: 0 0 5px;
			font-weight: 400;
		}
	}
	li {
		.children {
			list-style: none;
			margin-left: 40px;
			li {
				padding: 0;
			}
		}
	}
}

/*comment form*/
.comment-respond {
	padding: 0px 11px;
	@include breakpoint_480{
		padding: 0px;
	}
	.comment-reply-title {
		font-size: 24px;
		margin-bottom: 20px;
	}
	.form-submit {
		.site-button {
			position: relative;
		}
	}
}

.comments-area {
	.comment-form {
		margin: 0 -15px;
		@include breakpoint_480{
			margin: 0 -5px;
		}
		.comment-notes {
			display: none;
		}
		p {
			width: 50%;
			float: left;
			padding: 0 5px;
			margin-bottom: 10px;
			position: relative;
			font-weight: 600;
			@include breakpoint_767{
				width: 100%;
			}
			label {
				display: none;
				line-height: 18px;
				margin-bottom: 10px;
			}
			input[type="text"] {
				width: 100%;
				height: 60px;
				padding: 20px;
				border: none;
				background-color: $clr-gray-light;
				&.form-control:focus{
						box-shadow: none;
					}
				
			}
			textarea {
				width: 100%;
				height: 50px;
				padding: 20px;
				border: none;
				height: 120px;
				resize: none;
				padding: 15px;
				background-color: $clr-gray-light;
				&.form-control:focus{
					box-shadow: none;
				}
			}
		}
		p.comment-form-url {
			width: 100%;
			display: block;
			clear: both;
		}
		p.form-allowed-tags {
			width: 100%;
		}
		p.comment-form-comment {
			width: 100%;
			display: block;
			clear: both;
		}
		p.form-submit {
			clear: both;
			float: none;
			width: 100%;
			margin: 0px;
		}
	}
}

ol.comment-list {
	li.comment {
		.comment-respond {
			.comment-form {
				p {
					padding: 0px 15px !important;
				}
			}
		}
	}
}

.comment-form {
	.form-control {
		&:-webkit-input-placeholder {
			color: #777;
			font-size: 14px;
		}
	}
}

/*Single Blog Post*/
.blog-post-single-outer{
	.blog-post-single{	
		&.blog-post-style-2 {
			box-shadow: none;
			.wt-post-info{
				margin: 0px;
				padding: 30px 0px 0px 0px;
			}
		}
	}

}

.related_posts{
	.wt-title{
		margin-bottom: 20px;
	}
	.related-posts-carousel{
		.blog-post-4-outer{
			.wt-post-info{
				box-shadow: none;
				background-color:$clr-white
			}
		}	
	}
}

.section-full{
	&.p-t120,
	&.p-b90,
	&.p-tb120{
		@include breakpoint_991{
			padding-top: 38px;
			padding-bottom: 10px;
		}
	}
}

/*Loading*/
.loading-area {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	overflow: hidden;
	.loading-box {
		width: 100%;
		height: 100%;
		background-color: #FFF;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 1;
		z-index: 9999;
	}
	.loading-pic {
		width: 100%;
		position: absolute;
		top: 50%;
		z-index: 99999;
		text-align: center;
		transform: translateY(-50%);
    }
}

.cssload-spinner {
	position: absolute;
	width: 51px;
	height: 51px;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	&:after {
		position: absolute;
		content: "";
		border: 4px solid $clr-primary;
		width: 48px;
		height: 48px;
		margin-left: -24px;
		margin-top: -1px;
		animation: cssload-spinner1 2.88s linear infinite;
	}
	&:before {
		position: absolute;
		content: "";
		border: 2px solid $clr-black;
		width: 66px;
		height: 66px;
		margin-left: -32px;
		margin-top: -8px;
		animation: cssload-spinner2 2.88s linear infinite;
	}
}

/*Loading Animation Start*/
@keyframes cssload-spinner1 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes cssload-spinner2 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@keyframes cssload-animation1 {
	0% {	 transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@keyframes cssload-animation2 {
	0%	 { transform: scale(0.2); left:	 0%; }
	50%	{ transform: scale(1.0); left:	50%; }
	100% { transform: scale(0.2); left: 100%; }
}

/*Loading Animation End*/


@include breakpoint_991{

	h3{
		font-size: 24px;
		font-weight: 600;
	}

	h5{
		font-size: 18px;
		font-weight: 600;
	}
}
@include breakpoint_767{
	h2{font-size: 30px;
		&.wt-tilte,
		&.wt-title{
			font-size: 30px;
		}
	}	
}
@include breakpoint_575{
	h2{
		&.wt-tilte,
		&.wt-title{
			font-size: 30px;
		}
	}	
}

/*About Year*/
.about-one{
	.about-year{
		padding: 30px 0px;
		@include breakpoint_1200{
			padding: 20px 0px 0px 0px;
		}
		@include breakpoint_991{
			padding: 30px 0px;
		}
		@include breakpoint_480{
			padding: 20px 0px 10px 0px;
		}
		
		.about-year-info{
			float: left;
			padding: 20px;
			margin-right: 40px;
			background-image:url(../images/background/bg-dott2.png);
			background-repeat: repeat;
			@include breakpoint_480{
				float: none;
				margin-right: 0px;
				margin-bottom: 30px;
			}
			span{
				display: block;
				font-size: 80px;
				line-height: 80px;
				color: $clr-primary;
				font-family: $heading-font;
				font-weight: 700;
			}
			p{
				font-weight: 600;
				text-transform: uppercase;
				font-size: 14px;
				margin-bottom: 0px;
			}
		}
		p{
			overflow: hidden;
		}
		&:after{
			content: '';
			display: table;
			clear: both;
		}
	}
}

/*About Year*/
.about-two{
	.about-year{
		padding:0px;
		.about-year-info{
			padding: 30px;
			margin-right: 40px;
			background-color: #e7e7e7;
			text-align: center;
			position: absolute;
			max-width: 240px;
			right: -40px;
			bottom: 0px;
			z-index: 1;
			border-bottom: 5px solid $clr-primary;
			span{
				display: block;
				font-size: 80px;
				line-height: 80px;
				color: $clr-primary;
				font-family: $heading-font;
				font-weight: 700;
			}
			p{
				font-weight: 600;
				text-transform: uppercase;
				font-size: 14px;
				margin-bottom: 0px;
			}
			@include breakpoint_420{
				position: inherit;
				width: 100%;
				max-width: 100%;
			}
		}
	}
}

/*Section Overlay*/
.overlay-wraper{
	position: relative;
	.overlay-main {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.opacity-01 {opacity: 0.1;}
.opacity-02 {opacity: 0.2;}
.opacity-03 {opacity: 0.3;}
.opacity-04 {opacity: 0.4;}
.opacity-05 {opacity: 0.5;}
.opacity-06 {opacity: 0.6;}
.opacity-07 {opacity: 0.7;}
.opacity-08 {opacity: 0.8;}
.opacity-09 {opacity: 0.9;}

.overlay-wraper {
	>.container {
		position: relative;
		z-index: 1;
	}
	>.container-fluid {
		position: relative;
		z-index: 1;
	}
}

/*Help Block*/
.help-blocks{
	@include breakpoint_767{
		margin-bottom: 30px;
	}
	.help-block-content{
		padding: 40px 30px;
		@include breakpoint_991{
			padding: 20px;
		}
		&.white{
			color: $clr-white;
			.wt-tilte{color: $clr-white;}
		}
		.icon-content{
			p{
				margin-bottom: 0px;
			}
		}
	}
}

/*Service Box One*/
.half-section-outer-1{
	padding-bottom: 90px;;
	@include breakpoint-991{
		padding-top: 0px;
		padding-bottom: 10px;
	}
}
.half-section-top{
	padding-bottom: 200px;
	@include breakpoint_991{
		padding-top: 40px;
	}
}

.half-section-bottom{
	margin-top: -210px;
}

/*Blog Half Box */
.half-section-top2{
	padding-bottom: 257px;
	@include breakpoint_1200{
		padding-bottom: 213px;
	}
	@include breakpoint_991{
		padding-top: 38px;
	}	
}

.half-section-bottom2{
	margin-top: -257px;
	@include breakpoint_1200{
		margin-top: -213px;
	}
}

.service-slider-one{
	margin: 0px -20px 30px -20px;
    width: auto
}

.service-icon-box-one{
	position: relative;
	padding: 40px 40px 40px 40px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	margin: 20px;
	.wt-icon-box-wraper{
		margin-bottom: 30px;
	}
	.service-icon-box-title{
		.wt-title{
			margin-bottom: 30px;
			padding-right: 40px;
		}
	}
	.service-icon-box-content{
		p{
			margin-bottom: 30px;
		}
	}
}

.service-icon-box-two{
	position: relative;
	padding: 40px 40px 40px 40px;
	border: 1px solid $clr-gray;
	.wt-icon-box-wraper{
		margin-bottom: 30px;
	}
	.service-icon-box-title{
		.wt-title{
			margin-bottom: 30px;
			padding-right: 60px;
			@include breakpoint_767{
				padding-right: 0px;
			}
		}
	}
	.service-icon-box-content{
		p{
			margin-bottom: 30px;
		}
	}

	&.text-center{
		.service-icon-box-title{
			.wt-title{
				padding-right: inherit;
			}
		}
		.service-icon-box-content{
			p{
				margin-bottom: 0px;
			}
		}
	}

	&.site-bg-black{
		.service-icon-box-title{
			.wt-title{
				a{
					color: $clr-white;
				}
			}
		}
		.service-icon-box-content{
			p{
				color: $clr-white;
			}
		}
	}

}

.blog-post-4-outer{
	background-color: $clr-white;
	.wt-post-info{
		padding: 30px;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		.wt-post-meta{
			margin-bottom:20px;
			position: relative;
			ul{list-style: none;
				margin-bottom: 0px;
				li{
					&.post-date{
						background-color: $clr-primary;
						color: $clr-white;
						display: inline-table;
						font-size: 14px;
						text-align: center;
						padding: 15px;
						font-weight: 600;
						position: absolute;
						left: -30px;
						top: -126px;
						span{
							display: block;
							font-size: 30px;
							font-weight: 700;
						}
					}
					&.post-category{
						font-size: 14px;
						font-weight: 600;
						color:$clr-primary;
					}
				}
			}
		}
		.wt-post-title {
			.post-title{
				margin-bottom: 20px;
			}
		}
	}
}

/*future section*/
.future-section-outer{
	@include breakpoint_991{
		padding: 0px 15px;
	}
	.future-section-left{
		@include breakpoint_991{
			height: 500px;
		}
	}
	.future-section-right{
		position: relative;
		.future-sec-right-content{
			margin: 90px -15px 90px -90px;
			background-color: $clr-white;
			padding: 50px;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
			@include breakpoint_991{
				margin: 40px 0px;
				padding: 30px;
			}
			.future-right-inner{
				max-width: 820px;
				@include breakpoint_991{
					max-width: 100%;
				}
			}
		}
		
		.our-future{
			padding-top: 50px;
		}
	}
}

/*Progress Bar*/
.progressText b{
	font-weight: 700;
	font-family: $heading-font;
	font-size: 20px;

}

.progress{
	position: relative;
	overflow: visible;
	background-color: #ebebeb;
	border-radius: 0px;
	height: 6px;
	margin: 20px 0px;
	@include breakpoint_991{
		margin: 20px 0px;
	}
	.progress-bar{
		position: relative;
		height: 6px;
	}
	
	span{position: absolute;
		right: 0px;
		top: -45px;
		color:$clr-black;
		font-size: 16px;
		font-weight:300;
	}

}

/*-----All Services------*/
.all_services{
	background-color:$clr-gray-light;

	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		li {
			border-bottom: 1px solid $clr-gray;
			position: relative;
			font-size: 16px;
			&:last-child {
				border-bottom: 0px;
			}
			a {
				transition: $transition;
				position: relative;
				padding: 20px 35px 20px 30px;
				display: block;
				color: $clr-black;
				font-family: $heading-font;
				font-size: 14px;
				font-weight: 600;
				&:after{
					content: "\f101";
					position: absolute;
					right: 20px;
					top: 24px;
					font-size: 8px;
					font-weight: 700;
					font-family: Flaticon;
					
				}

				&:hover{
					color:$clr-primary;
				}
				&.active{
					color:$clr-primary;
					background-color: $clr-white;
				}
			}
		}
	}
}

blockquote {
	color:$clr-white;
	clear: both;
	border: none;
	position: relative;
	text-align: left;
	@include breakpoint_575{
		&.p-a50{padding: 20px;}
	}
	.fa-quote-left {
		position: absolute;
		font-size: 50px;
		left: 20px;
		top: 30px;
		color:$clr-primary;
		line-height: 50px;
		@include breakpoint_575{
			font-size: 30px;
			top: 18px;
		}
	}

	p {
		font-size: 20px;
		line-height: 26px;
		padding-left: 50px;
		font-family: $heading-font;
		@include breakpoint_575{
			font-size: 16px;
		}
	}

	strong {
		font-size: 14px;
		padding-right: 10px;
		letter-spacing: 1px;
	}
}

.service-side-btn{ 
	a.btn-block{
		background-color:$clr-white;
		border-radius: 300px;
		&:hover{background-color:$clr-black;}
	}
}

.service-full-info{
	@include breakpoint_991{
		margin-bottom: 30px;
	}	
	.service-provide{
		.list-angle-right{
			@include breakpoint_767{
				padding-top: 30px;
				margin-bottom: 0px;
			}
		}
	}
}

.project-single-side-btn{ 
	a.btn-block{
		background-color:$clr-black;
		color:$clr-white;
		border-radius: 300px;
		transition: $transition;
		padding: 20px 30px;
		&:hover{background-color:$clr-gray-light; color: $clr-black;}
	}
}

/*contact Popup*/
.contact-slide-hide {
	position: fixed;
	right: -500px;
	top: 0px;
	height: 100%;
	max-width: 3000px;
	z-index: 50;
	overflow-x: hidden;
}

.contact-nav {
	display: table;
	width: 100%;
	height: 100%;

	.wt-title{
		color: $clr-primary;
	}

	.contact-nav-form {
		padding-top: 60px;
		display: table-cell;
		vertical-align: middle;
	}

	.contact_close {
		position: absolute;
		right: 20px;
		top: 20px;
		width: 100%;
		border: none;
		text-align: right;
		font-size: 36px;
	}
}

/*Top Part Search Bar*/
.site-search-btn {
	background: none;
	border: none;
	outline: none;
	color: #fff;
	font-size: 16px;
	width: 40px;
	display: inline-block;
	text-align: center;
}

#search {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	transition: all 0.5s ease-in-out;
	transform: translate(0px, -100%) scale(0, 0);
	opacity: 0;
	display: none;
	
	&.open {
		transform: translate(0px, 0px) scale(1, 1);
		opacity: 1;
		z-index: 999;
		display: block;
	}

	form {
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -51px;
		width: 50%;
		margin-left: 25%;
		color: $clr-white;
		border: 1px solid $clr-white;
		font-size: 30px;
		font-weight: 300;
		text-align: left;
		outline: none;
		padding: 10px;
		border-radius: 0px;
		@include breakpoint_640{
			width: 90%;
			margin-left: 5%;
		}
	}

	input[type="search"] {
		background: none;
		border: none;
		padding: 0px 12px;
		outline:none;
		color: $clr-white;
	}

	
	.search-btn {
		border: none;
		background: none;
		padding: 0px 30px;
		outline:none;

		i {
			font-size: 36px;
			color: $clr-primary;
		}
	}

    .close {
		position: fixed;
		top: 15px;
		right: 15px;
		opacity: 1;
		font-size: 27px;
		color: $clr-white;
		width: 30px;
		height: 30px;


		&:after,
		&:before {
			content: "";
			position: absolute;
			width: 2px;
			height: 32px;
			background-color:$clr-white;
			right: 20px;
			top: 0px;
		}

		&:after {
			transform: rotate(45deg);
		}
		
		&:before {
			transform: rotate(-45deg);
		}
		
		&:hover:after,
		&:hover:before {
			cursor: pointer;
		}


	}

}

// @media only screen and ( max-width:768px) {
// 	#search form {
// 		width: 90%;
// 		margin-left: 5%;
// 		font-size: 26px;
// 	}
// 	#search input[type="search"] {
// 		padding: 0px 0px 0px 30px;
// 	}
// 	#search .search-btn {
// 		padding: 0px 15px;
// 	}
// 	#search .search-btn i {
// 		font-size: 24px;
// 	}
// }

// @media only screen and ( max-width:400px) {
// 	#search form {
// 		font-size: 16px;
// 	}
// 	#search input[type="search"] {
// 		padding: 0px 0px 0px 10px;
// 	}
// 	#search .search-btn {
// 		padding: 0px 15px;
// 	}
// 	#search .search-btn i {
// 		font-size: 18px
// 	}
// }


/*full navigation*/

/* OPEN / CLOSE BTNS */
.menu-btn {
    position: relative;
    z-index: 999;
}
/* OVERLAY */
.full-menu{
    position: fixed;
    top: 0;
	left:0px;
    z-index: 99;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.full-menu-close{
	float: right;
	position: relative;
	z-index: 1;
	background: none;
	border: none;
	width:40px;
	height:40px;
	margin-top: 25px;
	margin-right: 25px;
	outline: 0px !important;
	&:after,
	&:before{
		position:absolute;
		content:'';
		width:2px;
		height:30px;
		right:18px;
		top:5px;
		background-color:$clr-black;
	}

	&:after{
		transform: rotate(-45deg);	
	}
	
	&:before{
		transform: rotate(45deg);
	}
}

.vertical-content-wrap{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow:auto;
}

.vertical-centered{
	display: table;
	width: 100%;
	height: 100%;
	text-align:center;
	max-width: 640px;
	margin:0px auto;
	.contact-form-outer{
		display: table-cell;
		vertical-align: middle;
	}
}


.project-single-img-column{
	margin-bottom: 0px;
	[class*='col-']{
		margin-bottom: 30px;
	}
	@include breakpoint_767{
		margin-bottom: 0px;
	}
}